<div class="p-4 md:p-10 overflow-auto h-full w-full relative">
  <nav class="px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900 md:fixed">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a href="https://flowbite.com/" class="flex items-center">
        <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo"/>
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Power Deal</span>
      </a>
    </div>
  </nav>

  <div class="flex items-center justify-center md:h-full w-full">
    <div class="space-y-6 w-full max-w-screen-xs mx-auto">
      <div class="space-y-2">
        <h1 class="text-xl font-semibold text-blue-900">Crie a sua conta.</h1>
        <h2 class="text-base font-medium">Por favor, adicione os seus detalhes.</h2>
      </div>
      <div class="space-y-2">
        <%= render partial:"devise/shared/google_button", locals:{resource_name:} %>
      </div>
      <div class="flex space-x-4 items-center">
        <div class="w-full border-b border-black h-0"></div>
        <p class="text-base font-medium">ou</p>
        <div class="w-full border-b border-black h-0"></div>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="space-y-6">
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "nome@exemplo.com" %>
          </div>

          <div class="field">
            <%= f.label :password, "Palavra-passe" %>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "6+ caracteres" %>
          </div>

          <div class="space-y-2">

            <div class="field">
              <%= f.label :password_confirmation, "Valide a sua palavra-passe" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "6+ caracteres" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="text-xs font-normal text-gray-600">
                <div class="field flex items-center">
                  <%= f.check_box :remember_me, class: "mr-2" %>
                  <%= f.label :remember_me, "Guarde o meu login", class: "text-xs font-normal text-gray-600", style: "margin-bottom:0" %>
                </div>
              </div>
            <% end %>
          </div>


          <div class="space-y-2">
            <div class="actions">
              <%= f.submit "Criar Conta", class: "dark w-full" %>
            </div>
            <div class="text-gray-600 text-xs flex space-x-2 items-center">
              <p>Já tem uma conta?</p>
              <p><%= link_to "Faça login aqui", new_session_path(resource_name), class: "font-bold underline" %></p>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>


