<div class="h-full overflow-scroll">
  <div class="flex flex-col flex-1 pt-5 pb-4 px-3 space-y-2">

    <div class="flex justify-between items-center">
      <%= link_to admin_deal_editor_deal_sections_path(deal) do %>
        <%= heroicon("x", options: { class: "h-5 w-5" }) %>
      <% end %>
      <%= link_to confirm_destroy_admin_deal_editor_deal_section_path(deal_id: deal.id, id: deal_section.id), class: "font-medium hover:text-red-600 dark:hover:text-red-500 hover:underline" do %>
        <%= heroicon("trash", options: { class: "h-4 w-4" }) %>
      <% end %>
    </div>


    <h1 class="text-base font-semibold"><%= deal_section.section.name.titleize %></h1>

    <%= render "form", deal_section: deal_section %>


    <br>
  </div>
</div>