<%= form_with(model: deal_section,
              url: admin_deal_editor_deal_section_path(deal_id: deal_section.deal_id, id: deal_section.id),
              data: {
                controller: "editor--form editor--autosave",
                action: "editor:page-section:changed->editor--autosave#save",
                "editor--form-id": deal_section.id,
                remote: true,
                turbo: true,
              },
              class: "space-y-8"
    ) do |form| %>
  <% if deal_section.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(deal_section.errors.count, "error") %> prohibited this deal_section from being saved:</h2>

      <ul>
        <% deal_section.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="space-y-4 px-3">

    <% if deal_section.section.is_cabecalho? %>
      <div class="space-y-2">
        <div class="flex justify-between items-center">
          <%= form.label :logo, "Logótipo", class: "mb-0" %>
          <%= heroicon("eye", options: { class: "w-6 h-6 shrink-0 text-gray-500" }) %>
        </div>
        <div class="flex">
          <%= form.file_field :logo, data: { key: "heading" } %>
        </div>
      </div>
    <% end %>

    <% if deal_section.section.is_cabecalho? ||
      deal_section.section.is_proposta? ||
      deal_section.section.is_contacto? ||
      deal_section.section.is_grelha? ||
      deal_section.section.is_conteudo? ||
      deal_section.section.is_galeria? %>
      <div class="space-y-2">
        <div class="flex justify-between items-center">
          <%= form.label :heading, "Título", class: "mb-0" %>
          <%= heroicon("eye", options: { class: "w-6 h-6 shrink-0 text-gray-500" }) %>
        </div>
        <div class="flex">
          <%= form.text_field :heading, placeholder: "Proposta #{deal_section.deal.customer.name}", data: { key: "heading" } %>
        </div>
      </div>
      <div class="space-y-2">
        <div class="flex justify-between items-center">
          <%= form.label :text, "Descrição", class: "mb-0" %>
          <%= heroicon("eye", options: { class: "w-6 h-6 shrink-0 text-gray-500" }) %>
        </div>
        <div class="trix-container">
          <%= form.rich_text_area :text, data: { key: "text" } %>
        </div>
      </div>
    <% end %>

    <% if deal_section.section.is_proposta? ||
      deal_section.section.is_contacto? ||
      deal_section.section.is_grelha? ||
      deal_section.section.is_conteudo? ||
      deal_section.section.is_galeria? %>
      <div class="space-y-2">
        <div class="flex justify-between items-center">
          <%= form.label :button, "Button", class: "mb-0" %>
          <%= heroicon("eye", options: { class: "w-6 h-6 shrink-0 text-gray-500" }) %>
        </div>
        <div class="space-y-2">
          <%= form.text_field :button_text, placeholder: "Label", value: form.object.button&.dig("text"), data: { key: "button_text" } %>
          <%= form.url_field :button_url, placeholder: "https://", value: form.object.button&.dig("url"), data: { key: "button_url" }, pattern: "https://.*" %>
        </div>
      </div>
    <% end %>

    <% if deal_section.section.is_grelha? ||
      deal_section.section.is_conteudo? ||
      deal_section.section.is_galeria? %>
      <hr style="margin-left: -12px; margin-right: -12px">
      <div class="space-y-2">
        <% if deal_section.section.is_grelha? %>
          <p class="text-sm font-medium text-gray-900">Items</p>
        <% end %>
        <% if deal_section.section.is_galeria? %>
          <p class="text-sm font-medium text-gray-900">Imagens</p>
        <% end %>
        <% if deal_section.section.is_conteudo? %>
          <p class="text-sm font-medium text-gray-900">Secções</p>
        <% end %>
        <div>
          <%= turbo_frame_tag dom_id(form.object, "items"), src: admin_deal_editor_deal_section_deal_section_items_path(deal: deal_section.deal_id, deal_section_id: deal_section.id) %>
        </div>
      </div>
    <% end %>

    <% if deal_section.section.is_contacto? %>
      <div class="space-y-2">
        <div class="flex justify-between items-center">
          <%= form.label :email, "Email", class: "mb-0" %>
          <%= heroicon("eye", options: { class: "w-6 h-6 shrink-0 text-gray-500" }) %>
        </div>
        <div class="flex">
          <%= form.text_field :email, value: form.object.theme.dig("contacto", "email"), placeholder: "Email aqui...", data: { key: "email" } %>
        </div>
      </div>
      <div class="space-y-2">
        <div class="flex justify-between items-center">
          <%= form.label :tel, "Telefone", class: "mb-0" %>
          <%= heroicon("eye", options: { class: "w-6 h-6 shrink-0 text-gray-500" }) %>
        </div>
        <div class="flex">
          <%= form.text_field :tel, value: form.object.theme.dig("contacto", "tel"), placeholder: "Telefone aqui...", data: { key: "telefone" } %>
        </div>
      </div>
      <div class="space-y-2">
        <div class="flex justify-between items-center">
          <%= form.label :address, "Morada", class: "mb-0" %>
          <%= heroicon("eye", options: { class: "w-6 h-6 shrink-0 text-gray-500" }) %>
        </div>
        <div class="trix-container">
          <%= form.rich_text_area :address, data: { key: "text" } %>
        </div>
      </div>
    <% end %>


    <% if deal_section.section.is_cabecalho? %>
      <div class="space-y-2">
        <div class="flex justify-between items-center">
          <%= form.label :date, "Data", class: "mb-0" %>
          <%= heroicon("eye", options: { class: "w-6 h-6 shrink-0 text-gray-500" }) %>
        </div>
        <div class="flex">
          <%= form.date_field :date, value: deal_section&.deal&.send_date&.strftime('%Y-%m-%d'), data: { key: "date" } %>
        </div>
      </div>
    <% end %>

  </div>

<% end %>
