<%= form_with(model: deal_section,
              url: admin_deal_editor_deal_section_path(deal_id: deal_section.deal_id, id: deal_section.id),
              data: {
                controller: "editor--form editor--autosave",
                action: "editor:page-section:changed->editor--autosave#save",
                "editor--form-id": deal_section.id,
                remote: true,
                turbo: true,
              },
              class: "space-y-4"
    ) do |form| %>
  <% if deal_section.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(deal_section.errors.count, "error") %> prohibited this deal_section from being saved:</h2>

      <ul>
        <% deal_section.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <div class="space-y-2">
      <%= form.text_field :preHeading, data: { key: "preHeading" } %>
      <%= form.text_field :heading, data: { key: "heading" } %>
      <%= form.text_field :subHeading, data: { key: "subHeading" } %>
    </div>
  </div>

  <%= form.label :text %>
  <div class="trix-container">
    <%= form.rich_text_area :text, data: { key: "text" } %>
  </div>

  <div>
    <%= form.label :button %>
    <div class="flex space-x-4">
      <%= form.text_field :button_text, placeholder: "Label", value: form.object.button&.dig("text"), data: { key: "button_text" } %>
      <%= form.url_field :button_url, placeholder: "https://", value: form.object.button&.dig("url"), data: { key: "button_url" }, pattern: "https://.*" %>
    </div>
  </div>

  <div>
    <%= form.label :button2 %>
    <div class="flex space-x-4">
      <%= form.text_field :button2_text, placeholder: "Label", value: form.object.button2&.dig("text"), data: { key: "button2_text" } %>
      <%= form.url_field :button2_url, placeholder: "https://", value: form.object.button2&.dig("url"), data: { key: "button2_url" }, pattern: "https://.*" %>
    </div>
  </div>

  <div>
    <%= form.label :buttonSubtext %>
    <%= form.text_field :buttonSubtext, data: { key: "buttonSubtext" } %>
  </div>


  <% if deal_section.section.is_bio? %>
    <div class="space-y-1">
      <%= form.label :social %>
      <div class="flex space-x-2 items-center">
        <%= image_tag("icons/social_media/Twitter - Dark.svg", class: "h-5 w-5") %>
        <%= form.text_field :twitter, data: { key: "twitter" }, placeholder: true, value: deal_section.links.dig("twitter", "url") %>
      </div>
      <div class="flex space-x-2 items-center">
        <%= image_tag("icons/social_media/Facebook - Dark.svg", class: "h-5 w-5") %>
        <%= form.text_field :facebook, data: { key: "facebook" }, placeholder: true, value: deal_section.links.dig("facebook", "url") %>
      </div>
      <div class="flex space-x-2 items-center">
        <%= image_tag("icons/social_media/Instagram - Dark.svg", class: "h-5 w-5") %>
        <%= form.text_field :instagram, data: { key: "instagram" }, placeholder: true, value: deal_section.links.dig("instagram", "url") %>
      </div>
      <div class="flex space-x-2 items-center">
        <%= image_tag("icons/social_media/Pinterest - Dark.svg", class: "h-5 w-5") %>
        <%= form.text_field :pinterest, data: { key: "pinterest" }, placeholder: true, value: deal_section.links.dig("pinterest", "url") %>
      </div>
      <div class="flex space-x-2 items-center">
        <%= image_tag("icons/social_media/LinkedIn - Dark.svg", class: "h-5 w-5") %>
        <%= form.text_field :linkedin, data: { key: "linkedin" }, placeholder: true, value: deal_section.links.dig("linkedin", "url") %>
      </div>
      <div class="flex space-x-2 items-center">
        <%= image_tag("icons/social_media/YouTube - Dark.svg", class: "h-5 w-5") %>
        <%= form.text_field :youtube, data: { key: "youtube" }, placeholder: true, value: deal_section.links.dig("youtube", "url") %>
      </div>
      <div class="flex space-x-2 items-center">
        <%= image_tag("icons/social_media/TikTok - Dark.svg", class: "h-5 w-5") %>
        <%= form.text_field :tiktok, data: { key: "tiktok" }, placeholder: true, value: deal_section.links.dig("tiktok", "url") %>
      </div>
      <div class="flex space-x-2 items-center">
        <%= heroicon("globe-alt", variant: :solid, options: { class: "w-5 h-5" }) %>
        <%= form.text_field :website, data: { key: "website" }, placeholder: true, value: deal_section.links.dig("website", "url") %>
      </div>
      <div class="flex space-x-2 items-center">
        <%= heroicon("mail", variant: :solid, options: { class: "w-5 h-5" }) %>
        <%= form.text_field :mail, data: { key: "mail" }, placeholder: true, value: deal_section.links.dig("mail", "url") %>
      </div>
    </div>
  <% end %>


  <div>
    <%= form.label :design %>

    <div class="flex justify-between">
      <%= form.label :mediaAlignment %>
      <div class="flex space-x-1">
        <% [%w[left menu-alt-2], %w[center menu]].map do |co| %>
          <div>
            <%= form.radio_button :mediaAlignment, co[0], class: "hidden peer", data: { key: "layout" } %>
            <%= form.label :mediaAlignment, value: co[0], class: "rounded p-2 border-2 border-neutral-200 peer-checked:border-neutral-900" do %>
              <%= heroicon(co[1], options: { class: "h-5 w-5" }) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <style>
          input[type="color"] {
              -webkit-appearance: none;
              border: none;
              width: 32px;
              height: 32px;
          }

          input[type="color"]::-webkit-color-swatch-wrapper {
              padding: 0;
              border-radius: 100%;
          }

          input[type="color"]::-webkit-color-swatch {
              border: none;
              border-radius: 100%;
          }
      </style>

      <%= form.label :colors %>
      <div class="flex flex-col">
        <% [
             ["background", "background_color"],
             ["heading", "heading_color"],
             ["text", "text_color"],
             ["button background", "button_background_color"],
             ["button text", "button_text_color"],
           ].map do |co| %>
          <div class="flex justify-between items-center py-1">
            <p><%= co[0].titleize %></p>
            <%= form.color_field co[1], value: form.object.theme.dig("colors", co[0].parameterize(separator: '_')), data: { key: "colors" }, class: "rounded-full" %>
          </div>
        <% end %>
      </div>
    </div>


  </div>

  <!--  <div>-->
  <%#= form.label :theme %>
  <%#= form.text_field :theme, data:{key: "theme"} %>
  <!--  </div>-->

  <!--  <div>-->
  <%#= form.label :background %>
  <%#= form.text_field :background, data:{key: "background"} %>
  <!--  </div>-->

  <!--  <div>-->
  <%#= form.label :button %>
  <%#= form.text_field :button, data:{key: "button"} %>
  <!--  </div>-->

  <!--  <div>-->
  <%#= form.label :button2 %>
  <%#= form.text_field :button2, data:{key: "button2"} %>
  <!--  </div>-->

  <!--  <div>-->
  <%#= form.label :mediaAlignment %>
  <%#= form.text_field :mediaAlignment %>
  <!--  </div>-->

  <!--  <div>-->
  <%#= form.label :mediaStyle %>
  <%#= form.text_field :mediaStyle %>
  <!--  </div>-->

  <% if deal_section.section.is_grid? %>
    <%= form.label :items %>
    <%= turbo_frame_tag dom_id(form.object, "items"), src: admin_deal_editor_deal_section_deal_section_items_path(deal: deal_section.deal_id, deal_section_id: deal_section.id) %>
  <% end %>

<% end %>
