<%= turbo_frame_tag dom_id(@deal, :sidebar) do %>
  <div class="h-full bg-white overflow-scroll">


    <h1 class="text-lg font-semibold text-gray-900 py-4 px-3">Editor geral</h1>

    <div data-controller="tabs" class="flex flex-col flex-1 pb-4">
      <div class="">
        <ul class="flex -mb-px text-sm font-medium text-center" id="myTab" role="tablist">
          <li class="w-full" role="presentation">
            <button data-tabs-target="tabHeader" class="w-full inline-flex items-center justify-center p-4 rounded-t-lg border-b-2 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500" id="existing-customer-tab" type="button" role="tab" aria-controls="existing-customer" aria-selected="true">
              <%= heroicon("clipboard-list", variant: :solid, options: { class: "mr-2 -ml-1 w-4 h-4" }) %>
              Secções
            </button>
          </li>
          <li class="w-full" role="presentation">
            <button data-tabs-target="tabHeader" class="w-full inline-flex items-center justify-center p-4 rounded-t-lg border-b-2 dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-200 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300" id="new-customer-tab" type="button" role="tab" aria-controls="new-customer" aria-selected="false">
              <%= heroicon("adjustments", variant: :solid, options: { class: "mr-2 -ml-1 w-4 h-4" }) %>
              Definições
            </button>
          </li>
        </ul>
      </div>
      <div id="myTabContent">
        <div class="rounded-lg" id="existing-customer" role="tabpanel" aria-labelledby="existing-customer-tab">
          <div class="flex-1 divide-y divide-gray-200 dark:divide-gray-700 text-gray-900 font-medium text-base">
            <div class="py-3.5 px-3 flex items-center space-x-2">
              <%= heroicon("cog", variant: :solid, options: { class: "h-6 w-6 text-blue-600 shrink-0" }) %>
              <p>Cliente</p>
            </div>
            <div class="py-4 px-0">
              <p class="text-blue-600 px-4 mb-6">Apresentação</p>

              <div data-id="<%= @deal.section_cabecalho.section_id %>" data-preview-id="<%= dom_id(@deal.section_cabecalho) %>" class="editor--page-section flex items-center justify-between space-x-4 px-3 my-4">
                <%= link_to edit_admin_deal_editor_deal_section_path(deal_id: @deal.id, id: @deal.section_cabecalho.id), class: "flex items-center space-x-2 truncate" do %>
                  <%= heroicon("cog", variant: :solid, options: { class: "h-6 w-6 text-blue-600 shrink-0" }) %>
                  <p><%= @deal.section_cabecalho.name %></p>
                <% end %>
              </div>

              <div data-controller="editor--sortable" data-editor--sortable-url="<%= reorder_admin_deal_editor_deal_section_path(deal_id: @deal.id, id: ":id") %>" class="px-3 space-y-4">
                <% @deal.deal_sections.each do |deal_section| %>
                  <% unless deal_section.section_id == 1 %>
                    <div data-id="<%= deal_section.id %>" data-preview-id="<%= dom_id(deal_section) %>" class="editor--page-section flex items-center justify-between space-x-4">
                      <%= link_to edit_admin_deal_editor_deal_section_path(deal_id: deal_section.deal_id, id: deal_section.id), class: "flex items-center space-x-2 truncate" do %>
                        <%= heroicon("cog", variant: :solid, options: { class: "h-6 w-6 text-blue-600 shrink-0" }) %>
                        <p><%= deal_section.name %></p>
                      <% end %>

                      <%= heroicon("menu-alt-4", options: {
                        class: "handle w-5 h-5 text-blue-600",
                      }) %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <div class="px-3 mt-4">
                <%= link_to new_admin_deal_editor_deal_section_path(deal_id: @deal.id), class: "flex items-center space-x-2 truncate text-blue-500" do %>
                  <%= heroicon("plus-circle", variant: :solid, options: { class: "h-6 w-6 shrink-0" }) %>
                  <p>Nova Secção</p>
                <% end %>
              </div>
            </div>
            <div class="py-4 px-3 space-y-4 text-gray-900 font-medium text-base">
              <div class="space-y-3">
                <div class="flex items-center space-x-2">
                  <%= heroicon("currency-dollar", variant: :solid, options: { class: "h-6 w-6 text-blue-600" }) %>
                  <p>Proposta Comercial</p>
                </div>
                <div class="flex items-center space-x-2">
                  <%= heroicon("mail-open", variant: :solid, options: { class: "h-6 w-6 text-blue-600" }) %>
                  <p>Contacto</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden rounded-lg" id="new-customer" role="tabpanel" aria-labelledby="new-customer-tab">
          <div class="flex-1 space-y-1 divide-y divide-gray-200 dark:divide-gray-700 text-gray-900 font-medium text-base">
            <div class="space-y-3 py-6 px-3 border-b">
              <%= link_to admin_deal_editor_fonts_path(@deal) do %>
                <div class="flex items-center space-x-2">
                  <%= heroicon("at-symbol", variant: :solid, options: { class: "h-6 w-6 text-blue-600" }) %>
                  <p>Tipos de Letra</p>
                </div>
              <% end %>
              <div class="flex items-center space-x-2">
                <%= heroicon("color-swatch", variant: :solid, options: { class: "h-6 w-6 text-blue-600" }) %>
                <p>Cores</p>
              </div>
              <div class="flex items-center space-x-2">
                <%= heroicon("cube", variant: :solid, options: { class: "h-6 w-6 text-blue-600" }) %>
                <p>Favicon</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>