<%= turbo_frame_tag dom_id(@deal, :sidebar) do %>
  <div class="h-full bg-white overflow-scroll">


    <h1 class="text-lg font-semibold text-gray-900 py-4 px-3">Editor geral</h1>

    <div data-controller="tabs" class="flex flex-col flex-1 pb-4">
      <div class="">
        <ul class="flex -mb-px text-sm font-medium text-center" id="myTab" role="tablist">
          <li class="w-full" role="presentation">
            <button data-tabs-target="tabHeader" class="w-full inline-flex items-center justify-center p-4 rounded-t-lg border-b-2 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500" id="existing-customer-tab" type="button" role="tab" aria-controls="existing-customer" aria-selected="<%= params["tab"] == "settings" ? false : true %>">
              <%= heroicon("clipboard-list", variant: :solid, options: { class: "mr-2 -ml-1 w-4 h-4" }) %>
              Secções
            </button>
          </li>
          <li class="w-full" role="presentation">
            <button data-tabs-target="tabHeader" class="w-full inline-flex items-center justify-center p-4 rounded-t-lg border-b-2 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500" id="new-customer-tab" type="button" role="tab" aria-controls="new-customer" aria-selected="<%= params["tab"] == "settings" ? true : false %>">
              <%= heroicon("adjustments", variant: :solid, options: { class: "mr-2 -ml-1 w-4 h-4" }) %>
              Definições
            </button>
          </li>
        </ul>
      </div>
      <div id="myTabContent">
        <div class="rounded-lg" id="existing-customer" role="tabpanel" aria-labelledby="existing-customer-tab">
          <div class="flex-1 divide-y divide-gray-200 dark:divide-gray-700 text-gray-900 font-medium text-base">

            <%= link_to edit_admin_deal_editor_deal_section_path(deal_id: @deal.id, id: @deal.section_cabecalho.id, template: params[:template]), class: "flex items-center space-x-2 truncate" do %>
              <div class="py-3.5 px-3 flex items-center space-x-2">
                <%= heroicon("cog", variant: :solid, options: { class: "h-6 w-6 text-blue-600 shrink-0" }) %>
                <p>Cliente</p>
              </div>
            <% end %>
            <div class="py-4 px-0">
              <p class="text-blue-600 px-4 mb-6">Apresentação</p>

              <div data-controller="editor--sortable editor--section-scroll" data-editor--sortable-url="<%= reorder_admin_deal_editor_deal_section_path(deal_id: @deal.id, id: ":id") %>" class="px-3 space-y-4">
                <% @template.deal_sections.each do |deal_section| %>
                  <% unless deal_section.section_id == 1 %>
                    <div data-id="<%= deal_section.id %>" data-action="mouseover->editor--section-scroll#scroll click->editor--section-scroll#scroll" data-preview-id="<%= dom_id(deal_section) %>" class="editor--page-section flex items-center justify-between space-x-4">
                      <%= link_to edit_admin_deal_editor_deal_section_path(deal_id: @deal.id, id: deal_section.id, template: params[:template]), class: "flex items-center space-x-2 truncate" do %>
                        <%= heroicon("cog", variant: :solid, options: { class: "h-6 w-6 text-blue-600 shrink-0" }) %>
                        <p><%= deal_section.name %></p>
                      <% end %>

                      <%= heroicon("menu-alt-4", options: {
                        class: "handle w-5 h-5 text-blue-600",
                      }) %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <div class="px-3 mt-4">
                <%= link_to new_admin_deal_editor_deal_section_path(deal_id: @deal.id, template: params[:template]), class: "flex items-center space-x-2 truncate text-blue-500" do %>
                  <%= heroicon("plus-circle", variant: :solid, options: { class: "h-6 w-6 shrink-0" }) %>
                  <p>Nova Secção</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden rounded-lg" id="new-customer" role="tabpanel" aria-labelledby="new-customer-tab">
          <div data-controller="accordion" data-active-classes="text-gray-900" data-inactive-classes="text-gray-500" class="flex-1 space-y-1 divide-y divide-gray-200 dark:divide-gray-700 text-gray-900 font-medium text-base">
            <%= form_with model: @deal,
                          url: admin_deal_editor_fonts_path(@deal),
                          data: {
                            controller: "editor--form editor--autosave",
                            action: "editor:page-section:changed->editor--autosave#save",
                            "editor--form-id": @deal.id,
                            remote: true,
                            turbo: true,
                          },
                          method: :patch do |form| %>

              <div class="divide-y space-y-4">
                <div class="space-y-4">
                  <button data-accordion-target="item" id="accordion-flush-heading-tipografia" type="button" class="flex items-center justify-between w-full p-4 font-medium text-blue-600" aria-expanded="true" aria-controls="accordion-flush-body-tipografia">
                    <span>Tipografia</span>
                    <svg data-accordion-icon class="text-gray-500 w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                  </button>


                  <div id="accordion-flush-body-tipografia" aria-labelledby="accordion-flush-heading-tipografia" class="space-y-4">

                    <% [["heading", "Título"], ["section_heading", "Título de Secção"], ["sub_section_heading", "Titulo de Sub-secção"], ["text", "Descrição"], ["link", "Link"],].map do |item| %>
                      <div class="space-y-2 px-3">
                        <p><%= item[1] %></p>
                        <div data-controller="editor--slider--weight" data-target="<%= item[0] %>" class="grid grid-cols-2 gap-2">
                          <%= render layout: "shared/font_select", locals:
                            {
                              form:,
                              name: "#{item[0]}_typeface_id",
                              values: Font.select('distinct(name), id, weights').map { |f| [f.name, f.id, data: { weights: f.weights }] },
                              js_target: "fontInput"
                            } do %>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12.7109 11.8359L9.93359 5.22656L7.19141 11.8359H12.7109ZM2.35156 18V17.5664C2.96875 17.4961 3.42969 17.2617 3.73438 16.8633C4.04688 16.4648 4.57812 15.3828 5.32812 13.6172L10.332 1.83984H10.8008L16.7773 15.4453C17.1758 16.3516 17.4922 16.9141 17.7266 17.1328C17.9688 17.3438 18.3711 17.4883 18.9336 17.5664V18H12.8281V17.5664C13.5312 17.5039 13.9844 17.4297 14.1875 17.3438C14.3906 17.25 14.4922 17.0273 14.4922 16.6758C14.4922 16.5586 14.4531 16.3516 14.375 16.0547C14.2969 15.7578 14.1875 15.4453 14.0469 15.1172L13.0508 12.8086H6.76953C6.14453 14.3789 5.76953 15.3398 5.64453 15.6914C5.52734 16.0352 5.46875 16.3086 5.46875 16.5117C5.46875 16.918 5.63281 17.1992 5.96094 17.3555C6.16406 17.4492 6.54688 17.5195 7.10938 17.5664V18H2.35156Z" fill="#6B7280"/>
                            </svg>
                          <% end %>

                          <%= render layout: "shared/font_select", locals:
                            {
                              form:,
                              name: "#{item[0]}_weight",
                              values: [100, 200, 300, 400, 500, 600, 700, 800, 900],
                              js_target: "weightInput"
                            } do %>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M2.69531 9.38379H8.34473L8.39844 11.083H8.15918C8.04199 10.5492 7.89225 10.2025 7.70996 10.043C7.53092 9.88021 7.15169 9.79883 6.57227 9.79883H6.01562V14.916C6.01562 15.3034 6.07585 15.5443 6.19629 15.6387C6.31673 15.7298 6.5804 15.79 6.9873 15.8193V16H4.07227V15.8193C4.49544 15.7868 4.75911 15.7168 4.86328 15.6094C4.96745 15.502 5.01953 15.2318 5.01953 14.7988V9.79883H4.46289C3.90951 9.79883 3.5319 9.87858 3.33008 10.0381C3.13151 10.1976 2.98177 10.5459 2.88086 11.083H2.63672L2.69531 9.38379ZM8.26152 4.51172H18.4964L18.513 7.93994H18.0232C17.8628 6.71696 17.4035 5.88965 16.6453 5.45801C16.2192 5.22005 15.5828 5.09001 14.7361 5.06787V14.0161C14.7361 14.6414 14.844 15.0565 15.0599 15.2612C15.2812 15.466 15.7378 15.5684 16.4295 15.5684V16H10.3699V15.5684C11.034 15.5684 11.4739 15.466 11.6897 15.2612C11.9111 15.0509 12.0218 14.6359 12.0218 14.0161V5.06787C11.1917 5.09001 10.5553 5.22005 10.1126 5.45801C9.29912 5.90072 8.83981 6.72803 8.73467 7.93994H8.24492L8.26152 4.51172Z" fill="#6B7280"/>
                            </svg>
                          <% end %>

                          <%= render layout: "shared/font_select", locals:
                            {
                              form:,
                              name: "#{item[0]}_height",
                              values: [1, 1.5, 2, 2.5, 3],
                              js_target: "heightInput"
                            } do %>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M2.69531 9.38379H8.34473L8.39844 11.083H8.15918C8.04199 10.5492 7.89225 10.2025 7.70996 10.043C7.53092 9.88021 7.15169 9.79883 6.57227 9.79883H6.01562V14.916C6.01562 15.3034 6.07585 15.5443 6.19629 15.6387C6.31673 15.7298 6.5804 15.79 6.9873 15.8193V16H4.07227V15.8193C4.49544 15.7868 4.75911 15.7168 4.86328 15.6094C4.96745 15.502 5.01953 15.2318 5.01953 14.7988V9.79883H4.46289C3.90951 9.79883 3.5319 9.87858 3.33008 10.0381C3.13151 10.1976 2.98177 10.5459 2.88086 11.083H2.63672L2.69531 9.38379ZM8.26152 4.51172H18.4964L18.513 7.93994H18.0232C17.8628 6.71696 17.4035 5.88965 16.6453 5.45801C16.2192 5.22005 15.5828 5.09001 14.7361 5.06787V14.0161C14.7361 14.6414 14.844 15.0565 15.0599 15.2612C15.2812 15.466 15.7378 15.5684 16.4295 15.5684V16H10.3699V15.5684C11.034 15.5684 11.4739 15.466 11.6897 15.2612C11.9111 15.0509 12.0218 14.6359 12.0218 14.0161V5.06787C11.1917 5.09001 10.5553 5.22005 10.1126 5.45801C9.29912 5.90072 8.83981 6.72803 8.73467 7.93994H8.24492L8.26152 4.51172Z" fill="#6B7280"/>
                            </svg>
                          <% end %>

                          <%= render layout: "shared/font_select", locals:
                            {
                              form:,
                              name: "#{item[0]}_spacing",
                              values: [-0.1, 0, 0.1, 0.2, 0.3, 0.4, 0.5],
                              js_target: "spacingInput"
                            } do %>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <rect width="16" height="12" transform="translate(2.5 2)" fill="#6B7280"/>
                              <path d="M7.24023 4.38379V4.56934C6.98958 4.57259 6.81868 4.58887 6.72754 4.61816C6.56803 4.67025 6.48828 4.77604 6.48828 4.93555C6.48828 5.01693 6.51595 5.13086 6.57129 5.27734C6.62988 5.42383 6.7373 5.6696 6.89355 6.01465L8.45605 9.49609L9.87695 5.72656C9.9388 5.56055 9.986 5.42057 10.0186 5.30664C10.0511 5.19271 10.0674 5.09993 10.0674 5.02832C10.0674 4.83626 9.98438 4.70605 9.81836 4.6377C9.7207 4.59863 9.55957 4.57585 9.33496 4.56934V4.38379H11.3809V4.55469C11.1693 4.58398 11.013 4.64095 10.9121 4.72559C10.7591 4.85254 10.6077 5.10807 10.458 5.49219L8.24609 11.1172H8.09473L5.62891 5.61914C5.42057 5.15365 5.25293 4.86393 5.12598 4.75C5.00228 4.63607 4.81999 4.57096 4.5791 4.55469V4.38379H7.24023ZM14.8184 8.43164L13.6611 5.67773L12.5186 8.43164H14.8184ZM10.502 11V10.8193C10.7591 10.79 10.9512 10.6924 11.0781 10.5264C11.2083 10.3604 11.4297 9.90951 11.7422 9.17383L13.8271 4.2666H14.0225L16.5127 9.93555C16.6787 10.3132 16.8105 10.5475 16.9082 10.6387C17.0091 10.7266 17.1768 10.7868 17.4111 10.8193V11H14.8672V10.8193C15.1602 10.7933 15.349 10.7624 15.4336 10.7266C15.5182 10.6875 15.5605 10.5947 15.5605 10.4482C15.5605 10.3994 15.5443 10.3132 15.5117 10.1895C15.4792 10.0658 15.4336 9.93555 15.375 9.79883L14.96 8.83691H12.3428C12.0824 9.49121 11.9261 9.8916 11.874 10.0381C11.8252 10.1813 11.8008 10.2952 11.8008 10.3799C11.8008 10.5492 11.8691 10.6663 12.0059 10.7314C12.0905 10.7705 12.25 10.7998 12.4844 10.8193V11H10.502Z" fill="white"/>
                              <path d="M2.32322 16.8232C2.22559 16.9209 2.22559 17.0791 2.32322 17.1768L3.91421 18.7678C4.01184 18.8654 4.17014 18.8654 4.26777 18.7678C4.3654 18.6701 4.3654 18.5118 4.26777 18.4142L2.85355 17L4.26777 15.5858C4.3654 15.4882 4.3654 15.3299 4.26777 15.2322C4.17014 15.1346 4.01184 15.1346 3.91421 15.2322L2.32322 16.8232ZM18.6768 17.1768C18.7744 17.0791 18.7744 16.9209 18.6768 16.8232L17.0858 15.2322C16.9882 15.1346 16.8299 15.1346 16.7322 15.2322C16.6346 15.3299 16.6346 15.4882 16.7322 15.5858L18.1464 17L16.7322 18.4142C16.6346 18.5118 16.6346 18.6701 16.7322 18.7678C16.8299 18.8654 16.9882 18.8654 17.0858 18.7678L18.6768 17.1768ZM2.5 17.25H18.5V16.75H2.5V17.25Z" fill="#4B5563"/>
                            </svg>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>

                <div class="space-y-4">
                  <button data-accordion-target="item" id="accordion-flush-heading-botoes" type="button" class="flex items-center justify-between w-full p-4 font-medium text-blue-600" aria-expanded="true" aria-controls="accordion-flush-body-botoes">
                    <span>Botões</span>
                    <svg data-accordion-icon class="text-gray-500 w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                  </button>


                  <div id="accordion-flush-body-botoes" aria-labelledby="accordion-flush-heading-botoes" class="space-y-4  px-3">

                    <% [["button", "Etiqueta"]].map do |item| %>
                      <div class="space-y-2">
                        <p><%= item[1] %></p>
                        <div data-controller="editor--slider--weight" data-target="<%= item[0] %>" class="grid grid-cols-2 gap-2">
                          <%= render layout: "shared/font_select", locals:
                            {
                              form:,
                              name: "#{item[0]}_typeface_id",
                              values: Font.select('distinct(name), id, weights').map { |f| [f.name, f.id, data: { weights: f.weights }] },
                              js_target: "fontInput"
                            } do %>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12.7109 11.8359L9.93359 5.22656L7.19141 11.8359H12.7109ZM2.35156 18V17.5664C2.96875 17.4961 3.42969 17.2617 3.73438 16.8633C4.04688 16.4648 4.57812 15.3828 5.32812 13.6172L10.332 1.83984H10.8008L16.7773 15.4453C17.1758 16.3516 17.4922 16.9141 17.7266 17.1328C17.9688 17.3438 18.3711 17.4883 18.9336 17.5664V18H12.8281V17.5664C13.5312 17.5039 13.9844 17.4297 14.1875 17.3438C14.3906 17.25 14.4922 17.0273 14.4922 16.6758C14.4922 16.5586 14.4531 16.3516 14.375 16.0547C14.2969 15.7578 14.1875 15.4453 14.0469 15.1172L13.0508 12.8086H6.76953C6.14453 14.3789 5.76953 15.3398 5.64453 15.6914C5.52734 16.0352 5.46875 16.3086 5.46875 16.5117C5.46875 16.918 5.63281 17.1992 5.96094 17.3555C6.16406 17.4492 6.54688 17.5195 7.10938 17.5664V18H2.35156Z" fill="#6B7280"/>
                            </svg>
                          <% end %>

                          <%= render layout: "shared/font_select", locals:
                            {
                              form:,
                              name: "#{item[0]}_weight",
                              values: [100, 200, 300, 400, 500, 600, 700, 800, 900],
                              js_target: "weightInput"
                            } do %>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M2.69531 9.38379H8.34473L8.39844 11.083H8.15918C8.04199 10.5492 7.89225 10.2025 7.70996 10.043C7.53092 9.88021 7.15169 9.79883 6.57227 9.79883H6.01562V14.916C6.01562 15.3034 6.07585 15.5443 6.19629 15.6387C6.31673 15.7298 6.5804 15.79 6.9873 15.8193V16H4.07227V15.8193C4.49544 15.7868 4.75911 15.7168 4.86328 15.6094C4.96745 15.502 5.01953 15.2318 5.01953 14.7988V9.79883H4.46289C3.90951 9.79883 3.5319 9.87858 3.33008 10.0381C3.13151 10.1976 2.98177 10.5459 2.88086 11.083H2.63672L2.69531 9.38379ZM8.26152 4.51172H18.4964L18.513 7.93994H18.0232C17.8628 6.71696 17.4035 5.88965 16.6453 5.45801C16.2192 5.22005 15.5828 5.09001 14.7361 5.06787V14.0161C14.7361 14.6414 14.844 15.0565 15.0599 15.2612C15.2812 15.466 15.7378 15.5684 16.4295 15.5684V16H10.3699V15.5684C11.034 15.5684 11.4739 15.466 11.6897 15.2612C11.9111 15.0509 12.0218 14.6359 12.0218 14.0161V5.06787C11.1917 5.09001 10.5553 5.22005 10.1126 5.45801C9.29912 5.90072 8.83981 6.72803 8.73467 7.93994H8.24492L8.26152 4.51172Z" fill="#6B7280"/>
                            </svg>
                          <% end %>

                          <%= render layout: "shared/font_select", locals:
                            {
                              form:,
                              name: "#{item[0]}_height",
                              values: [1, 1.5, 2, 2.5, 3],
                              js_target: "heightInput"
                            } do %>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M2.69531 9.38379H8.34473L8.39844 11.083H8.15918C8.04199 10.5492 7.89225 10.2025 7.70996 10.043C7.53092 9.88021 7.15169 9.79883 6.57227 9.79883H6.01562V14.916C6.01562 15.3034 6.07585 15.5443 6.19629 15.6387C6.31673 15.7298 6.5804 15.79 6.9873 15.8193V16H4.07227V15.8193C4.49544 15.7868 4.75911 15.7168 4.86328 15.6094C4.96745 15.502 5.01953 15.2318 5.01953 14.7988V9.79883H4.46289C3.90951 9.79883 3.5319 9.87858 3.33008 10.0381C3.13151 10.1976 2.98177 10.5459 2.88086 11.083H2.63672L2.69531 9.38379ZM8.26152 4.51172H18.4964L18.513 7.93994H18.0232C17.8628 6.71696 17.4035 5.88965 16.6453 5.45801C16.2192 5.22005 15.5828 5.09001 14.7361 5.06787V14.0161C14.7361 14.6414 14.844 15.0565 15.0599 15.2612C15.2812 15.466 15.7378 15.5684 16.4295 15.5684V16H10.3699V15.5684C11.034 15.5684 11.4739 15.466 11.6897 15.2612C11.9111 15.0509 12.0218 14.6359 12.0218 14.0161V5.06787C11.1917 5.09001 10.5553 5.22005 10.1126 5.45801C9.29912 5.90072 8.83981 6.72803 8.73467 7.93994H8.24492L8.26152 4.51172Z" fill="#6B7280"/>
                            </svg>
                          <% end %>

                          <%= render layout: "shared/font_select", locals:
                            {
                              form:,
                              name: "#{item[0]}_spacing",
                              values: [-0.1, 0, 0.1, 0.2, 0.3, 0.4, 0.5],
                              js_target: "spacingInput"
                            } do %>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <rect width="16" height="12" transform="translate(2.5 2)" fill="#6B7280"/>
                              <path d="M7.24023 4.38379V4.56934C6.98958 4.57259 6.81868 4.58887 6.72754 4.61816C6.56803 4.67025 6.48828 4.77604 6.48828 4.93555C6.48828 5.01693 6.51595 5.13086 6.57129 5.27734C6.62988 5.42383 6.7373 5.6696 6.89355 6.01465L8.45605 9.49609L9.87695 5.72656C9.9388 5.56055 9.986 5.42057 10.0186 5.30664C10.0511 5.19271 10.0674 5.09993 10.0674 5.02832C10.0674 4.83626 9.98438 4.70605 9.81836 4.6377C9.7207 4.59863 9.55957 4.57585 9.33496 4.56934V4.38379H11.3809V4.55469C11.1693 4.58398 11.013 4.64095 10.9121 4.72559C10.7591 4.85254 10.6077 5.10807 10.458 5.49219L8.24609 11.1172H8.09473L5.62891 5.61914C5.42057 5.15365 5.25293 4.86393 5.12598 4.75C5.00228 4.63607 4.81999 4.57096 4.5791 4.55469V4.38379H7.24023ZM14.8184 8.43164L13.6611 5.67773L12.5186 8.43164H14.8184ZM10.502 11V10.8193C10.7591 10.79 10.9512 10.6924 11.0781 10.5264C11.2083 10.3604 11.4297 9.90951 11.7422 9.17383L13.8271 4.2666H14.0225L16.5127 9.93555C16.6787 10.3132 16.8105 10.5475 16.9082 10.6387C17.0091 10.7266 17.1768 10.7868 17.4111 10.8193V11H14.8672V10.8193C15.1602 10.7933 15.349 10.7624 15.4336 10.7266C15.5182 10.6875 15.5605 10.5947 15.5605 10.4482C15.5605 10.3994 15.5443 10.3132 15.5117 10.1895C15.4792 10.0658 15.4336 9.93555 15.375 9.79883L14.96 8.83691H12.3428C12.0824 9.49121 11.9261 9.8916 11.874 10.0381C11.8252 10.1813 11.8008 10.2952 11.8008 10.3799C11.8008 10.5492 11.8691 10.6663 12.0059 10.7314C12.0905 10.7705 12.25 10.7998 12.4844 10.8193V11H10.502Z" fill="white"/>
                              <path d="M2.32322 16.8232C2.22559 16.9209 2.22559 17.0791 2.32322 17.1768L3.91421 18.7678C4.01184 18.8654 4.17014 18.8654 4.26777 18.7678C4.3654 18.6701 4.3654 18.5118 4.26777 18.4142L2.85355 17L4.26777 15.5858C4.3654 15.4882 4.3654 15.3299 4.26777 15.2322C4.17014 15.1346 4.01184 15.1346 3.91421 15.2322L2.32322 16.8232ZM18.6768 17.1768C18.7744 17.0791 18.7744 16.9209 18.6768 16.8232L17.0858 15.2322C16.9882 15.1346 16.8299 15.1346 16.7322 15.2322C16.6346 15.3299 16.6346 15.4882 16.7322 15.5858L18.1464 17L16.7322 18.4142C16.6346 18.5118 16.6346 18.6701 16.7322 18.7678C16.8299 18.8654 16.9882 18.8654 17.0858 18.7678L18.6768 17.1768ZM2.5 17.25H18.5V16.75H2.5V17.25Z" fill="#4B5563"/>
                            </svg>
                          <% end %>


                        </div>
                      </div>
                    <% end %>

                    <div data-controller="editor--slider--weight" data-target="button" class="space-y-4">
                      <div class="space-y-1">
                        <%= form.label :button_background_color, "Fundo" %>
                        <div class="flex items-center space-x-3">
                          <%= form.color_field :button_background_color,
                                               data: {
                                                 "editor--slider--weight-target": "buttonBackground",
                                                 key: "colors"
                                               },
                                               class: "rounded-full h-[60px] w-[60px]" %>
                          <p class="leading-tight text-sm text-gray-900"><%= form.object.button_background_color.upcase if form.object.button_background_color %></p>
                        </div>
                      </div>

                      <div class="space-y-1">
                        <%= form.label :button_border_color, "Border" %>
                        <div class="flex items-center space-x-3">
                          <%= form.color_field :button_border_color,
                                               data: {
                                                 "editor--slider--weight-target": "buttonBorder",
                                                 key: "colors"
                                               },
                                               class: "rounded-full h-[60px] w-[60px]" %>
                          <p class="leading-tight text-sm text-gray-900"><%= form.object.button_border_color.upcase if form.object.button_border_color %></p>
                        </div>
                      </div>

                      <div class="flex items-center space-x-2">
                        <div class="w-full flex items-center">
                          <div class="flex space-x-2 items-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-11 px-4">

                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <rect x="2" y="2" width="16" height="1" rx="0.5" fill="#6B7280"/>
                              <rect x="2" y="5" width="16" height="2" rx="1" fill="#6B7280"/>
                              <rect x="2" y="9" width="16" height="3" rx="1.5" fill="#6B7280"/>
                              <rect x="2" y="14" width="16" height="4" rx="2" fill="#6B7280"/>
                            </svg>

                            <%= form.select :button_border_width,
                                            %w[0px 1px 2px 3px 4px 5px],
                                            {},
                                            {
                                              selected: form.object.button_border_width,
                                              data: {
                                                "editor--slider--weight-target": "buttonBorderWidth",
                                                key: "button_border_width"
                                              },
                                              class: "bg-transparent border-none focus:ring-0 focus:outline-0"
                                            } %>
                          </div>
                        </div>

                        <div class="w-full flex items-center">
                          <div class="flex space-x-2 items-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-11 px-4">


                            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M18.5 2V2C14.7801 2 12.9202 2 11.3942 2.40889C7.25307 3.5185 4.0185 6.75307 2.90889 10.8942C2.5 12.4202 2.5 14.2801 2.5 18V18" stroke="#6B7280" stroke-width="3" stroke-linecap="round"/>
                            </svg>

                            <%= form.select :button_border_radius,
                                            %w[0px 4px 8px 9999px],
                                            {},
                                            {
                                              selected: form.object.button_border_radius,
                                              data: {
                                                "editor--slider--weight-target": "buttonBorderRadius",
                                                key: "button_border_radius"
                                              },
                                              class: "bg-transparent border-none focus:ring-0 focus:outline-0"
                                            } %>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>