<%= turbo_frame_tag dom_id(@deal, :sidebar) do %>
  <div class="h-full bg-white">
    <div class="flex flex-col flex-1 pb-4 overflow-y-auto">

      <div data-controller="tabs">
        <div class="border-b border-gray-200 dark:border-gray-700">
          <ul class="flex -mb-px text-sm font-medium text-center border-b" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
            <li class="w-full" role="presentation">
              <!--          <button data-tabs-target="tabHeader" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" aria-selected="true">-->
              <%#= heroicon("clipboard-list", options:{class:"w-4 h-4"}) %>
              <!--            Secções-->
              <!--          </button>-->
              <button data-tabs-target="tabHeader" class="w-full inline-flex items-center p-4 rounded-t-lg border-b-2 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500" id="existing-customer-tab" type="button" role="tab" aria-controls="existing-customer" aria-selected="true">
                <%= heroicon("clipboard-list", options: { class: "mr-2 -ml-1 w-4 h-4" }) %>
                Secções
              </button>
            </li>
            <li class="w-full" role="presentation">
              <button data-tabs-target="tabHeader" class="w-full inline-flex items-center p-4 rounded-t-lg border-b-2 dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300" id="new-customer-tab" type="button" role="tab" aria-controls="new-customer" aria-selected="false">
                <%= heroicon("adjustments", options: { class: "mr-2 -ml-1 w-4 h-4" }) %>
                Definições
              </button>
            </li>
          </ul>
        </div>
        <div id="myTabContent">
          <div class="rounded-lg" id="existing-customer" role="tabpanel" aria-labelledby="existing-customer-tab">
            <div class="flex-1 space-y-1 divide-y divide-gray-200 dark:divide-gray-700 text-gray-900 font-medium text-base">
              <div class="pt-6 p-4 px-3 flex items-center space-x-2">
                <%= heroicon("cog", variant: :solid, options: { class: "h-6 w-6 text-gray-500 shrink-0" }) %>
                <p>Cliente</p>
              </div>
              <div class="py-4 px-0 space-y-6">
                <p class="text-gray-600 px-4">Apresentação</p>
                <div data-controller="editor--sortable" data-editor--sortable-url="<%= reorder_admin_deal_editor_deal_section_path(deal_id: @deal.id, id: ":id") %>" class="px-3 space-y-4">
                  <% @deal.deal_sections.each do |deal_section| %>
                    <div data-id="<%= deal_section.id %>" data-preview-id="<%= dom_id(deal_section) %>" class="editor--page-section flex items-center justify-between space-x-4">
                      <%= link_to edit_admin_deal_editor_deal_section_path(deal_id: deal_section.deal_id, id: deal_section.id), class: "flex items-center space-x-2 truncate" do %>
                        <%= heroicon("cog", variant: :solid, options: { class: "h-6 w-6 text-gray-500 shrink-0" }) %>
                        <p><%= deal_section.name %></p>
                      <% end %>

                      <%= heroicon("menu-alt-4", options: {
                        class: "handle w-5 h-5",
                      }) %>

                    </div>
                  <% end %>

                  <%= link_to new_admin_deal_editor_deal_section_path(deal_id: @deal.id), class: "flex items-center space-x-2 truncate text-blue-500" do %>
                    <%= heroicon("plus-circle", variant: :solid, options: { class: "h-6 w-6 shrink-0" }) %>
                    <p>Nova Secção</p>
                  <% end %>

                </div>
              </div>
              <div class="p-4 px-5 space-y-4 text-gray-900 font-medium text-base">
                <div class="space-y-3">
                  <div class="flex items-center space-x-2">
                    <%= heroicon("currency-dollar", variant: :solid, options: { class: "h-6 w-6 text-gray-500" }) %>
                    <p>Proposta Comercial</p>
                  </div>
                  <div class="flex items-center space-x-2">
                    <%= heroicon("mail-open", variant: :solid, options: { class: "h-6 w-6 text-gray-500" }) %>
                    <p>Contacto</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hidden rounded-lg" id="new-customer" role="tabpanel" aria-labelledby="new-customer-tab">
            <div class="flex-1 space-y-1 divide-y divide-gray-200 dark:divide-gray-700 text-gray-900 font-medium text-base">
              <div class="space-y-3 py-6 px-3 border-b">
                <div class="flex items-center space-x-2">
                  <%= heroicon("at-symbol", variant: :solid, options: { class: "h-6 w-6 text-gray-500" }) %>
                  <p>Tipos de Letra</p>
                </div>
                <div class="flex items-center space-x-2">
                  <%= heroicon("color-swatch", variant: :solid, options: { class: "h-6 w-6 text-gray-500" }) %>
                  <p>Cores</p>
                </div>
                <div class="flex items-center space-x-2">
                  <%= heroicon("cube", variant: :solid, options: { class: "h-6 w-6 text-gray-500" }) %>
                  <p>Favicon</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




<% end %>

