<%= turbo_frame_tag dom_id(@deal, :sidebar) do %>
  <div class="h-full bg-gray-900 text-white overflow-scroll divide-y divide-gray-700">

    <div class="pt-6 p-4 space-y-2">
      <%= link_to admin_deal_editor_deal_sections_path do %>
        <%= heroicon("arrow-circle-left", variant: :solid, options: { class: "h-6 w-6 text-blue-600" }) %>
      <% end %>
      <p class="text-lg text-gray-50">Nova Secção</p>
    </div>


    <% SectionCategory.includes(:sections).all.each do |c| %>
      <div class="p-4 space-y-4">
        <p class="font-semibold text-blue-600"><%= c.name %></p>
        <% c.sections.map do |s| %>
          <% unless s.id.in? [1, 2, 3, 5] #cabeçalho, proposta, contacto e item da grelha %>
            <div>
              <%= button_to admin_deal_editor_deal_sections_path, { params: { section_id: s.id, }, data: { action: "mouseover->editor--preview#show mouseout->editor--preview#hide click->editor--preview#hide", id: dom_id(s) }, class: "w-full" } do %>
                <div class="flex justify-between w-full">
                  <div class="flex space-x-2">
                    <%= render partial: 'shared/section_svg', locals: { type: s.section_type.name } %>
                    <span class="font-medium text-gray-50"><%= s.name %></span>
                  </div>
                  <%= heroicon("plus", variant: :solid, options: { class: "h-6 w-6 shrink-0 text-gray-500" }) %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>