<div>
  <h1 id="font-heading" class="text-4xl" style="
  color: <%= deal_section.heading_color %>;
    font-family: <%= @deal&.heading_typeface&.name %>;
    font-weight: <%= @deal&.heading_weight %>;
    line-height: <%= @deal&.heading_height %>;
    letter-spacing:<%= @deal&.heading_spacing %>em;
  "
  ><%= deal_section.heading %></h1>
</div>