<div id="<%= dom_id(deal_section) %>" class="editor--page-section-preview text-section">
  <div id="<%= dom_id(Section.find(8)) %>" class="hidden"></div>

  <% if deal_section.background_image.attached? %>
    <% style = "background: linear-gradient(0deg, #{deal_section&.theme&.dig("colors", "overlay")}70, #{deal_section&.theme&.dig("colors", "overlay")}70), url(#{url_for(deal_section.background_image)}) no-repeat center center; background-size: cover;" %>
  <% else %>
    <% style = "background-color: #{deal_section&.theme&.dig("colors", "background")};" %>
  <% end %>

  <div class="text-center text-white p-12" style="<%= style %>color: <%= deal_section.text_color %>;">

    <div class="space-y-4 mb-20 max-w-[672px] mx-auto">
      <h1 class="text-6xl leading-tight font-semibold" style="color: <%= deal_section&.theme&.dig("colors", "title") %>"><%= deal_section.heading %></h1>
      <h2 class="text-xl" style="color: <%= deal_section&.theme&.dig("colors", "description") %>"><%= deal_section.text %></h2>
    </div>



    <div id="<%= dom_id(deal_section, "items") %>"
         class="w-full max-w-[672px] mx-auto p-4 px-6"
         data-controller="accordion"
         data-active-classes="text-gray-900"
         data-inactive-classes="text-gray-500"
         style="<%= "background-color:#{deal_section&.theme&.dig('colors','background_accordion')};border-width: #{deal_section&.theme&.dig('border','accordion')};border-color:#{deal_section&.theme&.dig('colors','border_accordion')}" %>">
      <% deal_section.deal_section_items.map do |dsi| %>
        <%= render partial: "admin/editor/deal_sections/deal_section", locals: { deal_section: dsi.child } %>
      <% end %>
    </div>
  </div>
</div>

