<div id="<%= dom_id(deal_section) %>" class="editor--page-section-preview text-section full-full">
  <div id="<%= dom_id(Section.find(1)) %>" class="hidden"></div>

  <% if deal_section.background_image.attached? %>
    <% style = "background: linear-gradient(0deg, #{deal_section&.theme&.dig("colors", "overlay")}70, #{deal_section&.theme&.dig("colors", "overlay")}70), url(#{url_for(deal_section.background_image)}) no-repeat center center;background-size: cover;" %>
  <% else %>
    <% style = "background-color: #{deal_section&.theme&.dig("colors", "background")};" %>
  <% end %>

  <div class="text-white bg-gray-500 p-12 full-full" style="<%= style %>color: <%= deal_section.text_color %>;">
    <div class="max-w-[672px] mx-auto text-center full-full flex flex-col justify-between">

      <div class="flex items-center justify-center space-x-3">
        <% unless deal_section&.theme&.dig("hidden", "logo") == "1" %>
          <% if deal_section.logo.attached? %>
            <%= image_tag(deal_section.logo, class: "w-10") %>
            <%# elsif deal.user.company_avatar.attached? %>
            <%#= image_tag(user.company_avatar, class: "w-10") %>
          <% end %>
        <% end %>
        <% unless deal_section&.theme&.dig("hidden", "company_name") == "1" %>
          <!--          <p class="text-2xl font-semibold"><%#= deal_section&.theme&.dig("company", "name").present? ? deal_section&.theme&.dig("company", "name") : deal.user.company_name %></p>-->
          <p class="text-2xl font-semibold"><%= deal_section&.theme&.dig("company", "name") %></p>
        <% end %>
      </div>

      <div class="space-y-4 pb-60">
        <% unless deal_section&.theme&.dig("hidden", "heading") == "1" %>
          <%
            classlist = case deal_section&.theme&.dig('organization','text')
                        when 'center'
                          'text-center mx-auto'
                        when 'left'
                          'text-start mr-auto'
                        when 'end'
                          'text-end ml-auto'
                        else
                          'text-center mx-auto'
                        end
          %>
          <h1 class="deal-font-heading text-6xl leading-tight font-semibold <%= classlist %>" style="
          color: <%= deal_section&.theme&.dig("colors", "title") %>;
            font-family: <%= deal&.heading_typeface&.name %>;
            font-weight: <%= deal&.heading_weight %>;
            line-height: <%= deal&.heading_height %>;
            letter-spacing:<%= deal&.heading_spacing %>em;
            white-space: pre-line;">
            <%= deal_section.heading %>
          </h1>
        <% end %>

        <%= render partial: "admin/editor/sections/shared/description", locals: { deal_section:, deal: } %>
      </div>

      <div class="space-y-4 pb-40">
        <% unless deal_section&.theme&.dig("hidden", "customer_name") == "1" %>
          <h3 class="leading-tight text-3xl font-semibold" style="color: <%= deal_section&.theme&.dig("colors", "client_name") %>"><%= deal_section&.theme&.dig("customer", "name") ? deal_section&.theme&.dig("customer", "name") : deal.customer.name %></h3>
        <% end %>
        <% unless deal_section&.theme&.dig("hidden", "date") == "1" %>
          <h4 class="text-xl" style="color: <%= deal_section&.theme&.dig("colors", "date") %>"><%= deal.send_date_formatted %></h4>
        <% end %>
      </div>

    </div>
  </div>
</div>
