<div id="<%= dom_id(deal_section) %>" class="editor--page-section-preview text-section full-full">
  <div id="<%= dom_id(Section.find(3)) %>" class="hidden"></div>

  <% if deal_section.background_image.attached? %>
    <% style = "background: linear-gradient(0deg, #{deal_section&.theme&.dig("colors", "overlay")}70, #{deal_section&.theme&.dig("colors", "overlay")}70), \"url(#{url_for(deal_section.background_image)})\" no-repeat center center; " %>
  <% else %>
    <% style = "background-color: #{deal_section&.theme&.dig("colors", "background")};" %>
  <% end %>


  <div class="text-white bg-gray-500 p-12 full-full text-center flex flex-col justify-center items-center" style="<%= style %>color: <%= deal_section.text_color %>;">

    <div class="space-y-4 mb-24 max-w-[672px] mx-auto">
      <%= render partial: "admin/editor/sections/shared/section_heading", locals: { deal_section:, deal: } %>
      <%= render partial: "admin/editor/sections/shared/description", locals: { deal_section:, deal: } %>
    </div>

    <div class="space-y-4 mb-24">
      <div class="flex flex-col space-y-16 md:flex-row justify-center md:space-x-16 md:space-y-0">
        <% unless deal_section&.theme&.dig("hidden", "email") == "1" %>
          <div class="px-4 space-y-4 flex flex-col items-center justify-center">
            <div class="flex">
              <div class="bg-gray-100 p-2 rounded-lg">
                <%= heroicon('mail', variant: :solid, options: { class: "w-16 h-16 shrink-0 text-gray-500" }) %>
              </div>
            </div>
            <div class="space-y-1">
              <p class="text-xl font-bold text-gray-900" style="color: <%= deal_section&.theme&.dig("colors", "contacto_title") %>">Email</p>
              <a target="_blank" href="mailto: <%= deal_section&.theme&.dig("contacto", "email") %>" class="deal-font-link text-sm font-bold text-blue-600" style="color: <%= deal_section&.theme&.dig("colors", "contacto_description") %>;
                font-family: <%= deal&.link_typeface&.name %>;
                font-weight: <%= deal&.link_weight %>;
                line-height: <%= deal&.link_height %>;
                letter-spacing:<%= deal&.link_spacing %>em;"><%= deal_section&.theme&.dig("contacto", "email") %>
              </a>
            </div>
          </div>
        <% end %>
        <% unless deal_section&.theme&.dig("hidden", "tel") == "1" %>
          <div class="px-4 space-y-4 flex flex-col items-center justify-center">
            <div class="flex">
              <div class="bg-gray-100 p-2 rounded-lg">
                <%= heroicon('support', variant: :solid, options: { class: "w-16 h-16 shrink-0 text-gray-500" }) %>
              </div>
            </div>
            <div class="space-y-1">
              <p class="text-xl font-bold text-gray-900" style="color: <%= deal_section&.theme&.dig("colors", "contacto_title") %>">Morada</p>

              <a target="_blank" href="https://www.google.pt/maps/search/<%= ERB::Util.url_encode deal_section&.address.to_plain_text %>" class="deal-font-link text-base font-normal text-gray-500" style="color: <%= deal_section&.theme&.dig("colors", "contacto_description") %>;
                font-family: <%= deal&.link_typeface&.name %>;
                font-weight: <%= deal&.link_weight %>;
                line-height: <%= deal&.link_height %>;
                letter-spacing:<%= deal&.link_spacing %>em;"><%= deal_section&.address %></a>
            </div>
          </div>
        <% end %>
        <% unless deal_section&.theme&.dig("hidden", "address") == "1" %>
          <div class="px-4 space-y-4 flex flex-col items-center justify-center">
            <div class="flex">
              <div class="bg-gray-100 p-2 rounded-lg">
                <%= heroicon('phone', variant: :solid, options: { class: "w-16 h-16 shrink-0 text-gray-500" }) %>
              </div>
            </div>
            <div class="space-y-1">
              <p class="text-xl font-bold text-gray-900" style="color: <%= deal_section&.theme&.dig("colors", "contacto_title") %>">Telefone</p>
              <a target="_blank" href="tel: <%= deal_section&.theme&.dig("contacto", "tel") %>" class="deal-font-link text-sm font-bold text-blue-600" style="color: <%= deal_section&.theme&.dig("colors", "contacto_description") %>;
                font-family: <%= deal&.link_typeface&.name %>;
                font-weight: <%= deal&.link_weight %>;
                line-height: <%= deal&.link_height %>;
                letter-spacing:<%= deal&.link_spacing %>em;"><%= deal_section&.theme&.dig("contacto", "tel") %></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
