<div id="<%= dom_id(deal_section) %>" class="editor--page-section-preview text-section">
  <div id="<%= dom_id(Section.find(6)) %>" class="hidden"></div>

  <% if deal_section.background_image.attached? %>
    <% style = "background: linear-gradient(0deg, #{deal_section&.theme&.dig("colors", "overlay")}70, #{deal_section&.theme&.dig("colors", "overlay")}70), url(#{url_for(deal_section.background_image)}) no-repeat center center; background-size: cover;" %>
  <% else %>
    <% style = "background-color: #{deal_section&.theme&.dig("colors", "background")};" %>
  <% end %>

  <div class="text-center text-white p-12" style="<%= style %>color: <%= deal_section.text_color %>;">

    <div class="space-y-4 mb-24 max-w-[672px] mx-auto">
      <h1 class="text-6xl leading-tight font-semibold" style="color: <%= deal_section&.theme&.dig("colors", "title") %>"><%= deal_section.heading %></h1>
      <h2 class="text-xl" style="color: <%= deal_section&.theme&.dig("colors", "description") %>"><%= deal_section.text %></h2>
    </div>

    <% if deal_section&.theme&.dig('image', 'organization') == "equal" %>
      <div id="<%= dom_id(deal_section, "items") %>" class="flex grid grid-cols-3 gap-8">
        <% deal_section.deal_section_items.map do |dsi| %>
          <%= render partial: "admin/editor/deal_sections/deal_section", locals: { deal_section: dsi.child } %>
        <% end %>
      </div>
    <% end %>

    <% if deal_section&.theme&.dig('image', 'organization') == "feature" %>

      <div class="flex space-x-8">
        <div class="w-full">
          <%= render partial: "admin/editor/deal_sections/deal_section", locals: { deal_section: deal_section.deal_section_items.first.child } %>
        </div>
        <div class="w-full">
          <div id="<%= dom_id(deal_section, "items") %>" class="grid grid-cols-2 gap-8">
            <% deal_section.deal_section_items.map do |dsi| %>
              <%= render partial: "admin/editor/deal_sections/deal_section", locals: { deal_section: dsi.child } %>
            <% end %>
          </div>
        </div>
      </div>


    <% end %>

  </div>
</div>

