<div id="<%= dom_id(deal_section) %>" class="editor--page-section-preview text-section full-full">
  <div id="<%= dom_id(Section.find(4)) %>" class="hidden"></div>

  <% if deal_section.background_image.attached? %>
    <% style = "background: linear-gradient(0deg, #{deal_section&.theme&.dig("colors", "overlay")}70, #{deal_section&.theme&.dig("colors", "overlay")}70), url(#{url_for(deal_section.background_image)}) no-repeat center center; " %>
  <% else %>
    <% style = "background-color: #{deal_section&.theme&.dig("colors", "background")};" %>
  <% end %>

  <div class="text-center text-white p-4 md:p-12 full-full" style="<%= style %>color: <%= deal_section.text_color %>;">

    <div class="space-y-4 mb-24 max-w-[672px] mx-auto">
      <%= render partial: "admin/editor/sections/shared/section_heading", locals: { deal_section:, deal: } %>
      <%= render partial: "admin/editor/sections/shared/description", locals: { deal_section:, deal: } %>
    </div>

    <% if deal_section.section.is_grelha? %>
      <div class="flex justify-center">
        <div id="<%= dom_id(deal_section, "items") %>" class="
        grid grid-cols-2 md:grid-cols-3 gap-4 md:gap-8 content-center justify-center items-center justify-items-center">
          <% deal_section.deal_section_items.map do |dsi| %>
            <%= render_section_preview dsi.child, deal %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="flex justify-center">
        <div id="<%= dom_id(deal_section, "items") %>" class="flex gap-8 flex-wrap justify-center">
          <% deal_section.deal_section_items.map do |dsi| %>
            <%= render_section_preview dsi.child, deal %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>

