<div id="<%= dom_id(deal_section) %>" class="editor--page-section-preview w-full h-full">
  <div id="<%= dom_id(Section.find(5)) %>" class="hidden"></div>

  <% if deal_section.background_image.attached? %>
    <% style = "background: linear-gradient(0deg, #{deal_section&.theme&.dig("colors", "overlay")}70, #{deal_section&.theme&.dig("colors", "overlay")}70), url(#{url_for(deal_section.background_image)}) no-repeat center center; background-size: cover;" %>
  <% else %>
    <% style = "background-color: #{deal_section.parent&.theme&.dig("colors", "background_items")};" %>
  <% end %>

  <% if deal_section.parent.section.is_grelha? %>
    <div class="text-white p-4 md:p-8 lg:p-12 text-center border rounded-lg w-full h-full" style="<%= style %>color: <%= deal_section.text_color %>;border-color: <%= deal_section.parent&.theme&.dig("colors","border_items") %>;border-width: <%= deal_section.parent&.theme&.dig("border", "width") %>">
      <div class="space-y-5">
        <div class="space-y-4">
          <% unless deal_section&.theme&.dig("hidden", "logo") == "1" %>
            <% if deal_section.logo.attached? %>
              <div class="w-36 h-36 mx-auto">
                <%= image_tag(deal_section.logo, class: "w-36 h-36 mx-auto img-#{deal_section&.parent&.theme&.dig('image', 'format')}") %>
              </div>
            <% end %>
          <% end %>
          <div class="space-y-1">
            <% unless deal_section&.theme&.dig("hidden", "heading") == "1" %>
              <h1 class="deal-font-sub-section-heading text-2xl leading-tight font-bold text-gray-900" style="color: <%= deal_section&.parent&.theme&.dig("colors", "items_title") %>;
                font-family: <%= deal&.sub_section_heading_typeface&.name %>;
                font-weight: <%= deal&.sub_section_heading_weight %>;
                line-height: <%= deal&.sub_section_heading_height %>;
                letter-spacing:<%= deal&.sub_section_heading_spacing %>em;"><%= deal_section.heading %></h1>
            <% end %>
            <% unless deal_section&.theme&.dig("hidden", "text") == "1" %>
              <div class="deal-font-text font-medium text-gray-500 max-w-[400px]" style="color: <%= deal_section&.parent&.theme&.dig("colors", "items_description") %>; font-family: <%= deal&.text_typeface&.name %>;
                font-weight: <%= deal&.text_weight %>;
                line-height: <%= deal&.text_height %>;
                letter-spacing:<%= deal&.text_spacing %>em;"><%= deal_section.text %></div>
            <% end %>
          </div>
        </div>

        <% unless deal_section&.theme&.dig("hidden", "button") == "1" %>
          <% if deal_section.button_valid %>
            <%= link_to deal_section.button&.dig('url'), target: "_blank", class: "flex justify-#{deal_section.theme.dig("button", "organization")}" do %>
              <button class="deal-font-button block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                      style="font-family: <%= deal&.button_typeface&.name %>;
                        font-weight: <%= deal&.button_weight %>;
                        line-height: <%= deal&.button_height %>;
                        letter-spacing:<%= deal&.button_spacing %>em;
                        background-color: <%= deal&.button_background_color %>;
                        border-color: <%= deal&.button_border_color %>;
                        border-width: <%= deal&.button_border_width %>;
                        border-radius:<%= deal&.button_border_radius %> ;">
                <%= deal_section.button&.dig('text') %>
              </button>
            <% end %>
          <% end %>
        <% end %>

      </div>
    </div>
  <% elsif deal_section.parent.section.is_galeria? %>
    <% unless deal_section&.theme&.dig("hidden", "logo") == "1" %>
      <div class="text-white text-center h-full" style="<%= style %>;
        border-color: <%= deal_section.parent&.theme&.dig("colors","border_images") %>;
        border-width: <%= deal_section.parent&.theme&.dig("border", "width") %>">
        <% if deal_section.logo.attached? %>
          <div class="w-full h-full min-h-[150px] md:min-h-[300px] mx-auto" style="<%= "background: url(#{url_for(deal_section.logo)}) no-repeat center center; background-size: cover;" %>">
            <% if deal_section.text.to_plain_text.present? %>
              <% unless deal_section&.theme&.dig("hidden", "text") == "1" %>
                <div class="flex justify-center items-end h-full">
                  <h2 class="deal-font-text font-medium text-black bg-gray-50 mb-4 p-1 py-0.5" style="background-color: <%= deal_section.parent&.theme&.dig("colors", "border_images") %>;font-family: <%= deal&.text_typeface&.name %>;
                    font-weight: <%= deal&.text_weight %>;
                    line-height: <%= deal&.text_height %>;
                    letter-spacing:<%= deal&.text_spacing %>em;"><%= deal_section.text %></h2>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% elsif deal_section.parent.section.is_conteudo? %>
    <% if deal_section.logo.attached? %>
      <div class="text-white flex flex-col md:flex-row space-y-6 md:space-x-12 md:space-y-0 <%= deal_section&.theme&.dig("image", "organization") == "left" ? '' : 'flex-col-reverse md:flex-row-reverse' %>">
        <div class="flex w-full">
          <% unless deal_section&.theme&.dig("hidden", "logo") == "1" %>
            <%= image_tag(deal_section.logo, class: "w-full h-[300px] md:h-[489px] mx-auto border", style: "border-width: #{deal_section.parent.theme.dig("border", "width")};border-color:#{deal_section.parent.theme.dig("colors", "border_images")}") %>
          <% end %>
        </div>
        <div class="space-y-4 w-full flex flex-col justify-center <%= deal_section.logo.attached? ? 'items-start' : 'items-center max-w-[672px] mx-auto' %>">
          <% unless deal_section&.theme&.dig("hidden", "heading") == "1" %>
            <h1 class="deal-font-sub-section-heading text-2xl leading-tight font-bold text-gray-900" style="color: <%= deal_section&.parent&.theme&.dig("colors", "items_title") %>;
              font-family: <%= deal&.sub_section_heading_typeface&.name %>;
              font-weight: <%= deal&.sub_section_heading_weight %>;
              line-height: <%= deal&.sub_section_heading_height %>;
              letter-spacing:<%= deal&.sub_section_heading_spacing %>em;"><%= deal_section.heading %></h1>
          <% end %>
          <% unless deal_section&.theme&.dig("hidden", "text") == "1" %>
            <div class="deal-font-text font-medium text-gray-500 text-left" style="color: <%= deal_section&.parent&.theme&.dig("colors", "items_description") %>; font-family: <%= deal&.text_typeface&.name %>;
              font-weight: <%= deal&.text_weight %>;
              line-height: <%= deal&.text_height %>;
              letter-spacing:<%= deal&.text_spacing %>em;"><%= deal_section.text %></div>
          <% end %>
          <div class="w-full">
            <% unless deal_section&.theme&.dig("hidden", "button") == "1" %>
              <% if deal_section.button_valid %>
                <%= link_to deal_section.button&.dig('url'), target: "_blank", class: "flex justify-#{deal_section.theme.dig("button", "organization")}" do %>
                  <button class="deal-font-button block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                          style="font-family: <%= deal&.button_typeface&.name %>;
                            font-weight: <%= deal&.button_weight %>;
                            line-height: <%= deal&.button_height %>;
                            letter-spacing:<%= deal&.button_spacing %>em;
                            background-color: <%= deal&.button_background_color %>;
                            border-color: <%= deal&.button_border_color %>;
                            border-width: <%= deal&.button_border_width %>;
                            border-radius:<%= deal&.button_border_radius %> ;">
                    <%= deal_section.button&.dig('text') %>
                  </button>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="text-white flex space-x-12">
        <div class="space-y-4 w-full flex flex-col justify-center items-center max-w-[672px] mx-auto">
          <% unless deal_section&.theme&.dig("hidden", "heading") == "1" %>
            <h1 class="deal-font-sub-section-heading text-2xl leading-tight font-bold text-gray-900" style="color: <%= deal_section&.parent&.theme&.dig("colors", "items_title") %>;
              font-family: <%= deal&.sub_section_heading_typeface&.name %>;
              font-weight: <%= deal&.sub_section_heading_weight %>;
              line-height: <%= deal&.sub_section_heading_height %>;
              letter-spacing:<%= deal&.sub_section_heading_spacing %>em;"><%= deal_section.heading %></h1>
          <% end %>
          <% unless deal_section&.theme&.dig("hidden", "text") == "1" %>
            <div class="deal-font-text font-medium text-gray-500 text-left" style="color: <%= deal_section&.parent&.theme&.dig("colors", "items_description") %>; font-family: <%= deal&.text_typeface&.name %>;
              font-weight: <%= deal&.text_weight %>;
              line-height: <%= deal&.text_height %>;
              letter-spacing:<%= deal&.text_spacing %>em;"><%= deal_section.text %></div>
          <% end %>
          <div class="w-full">
            <% unless deal_section&.theme&.dig("hidden", "button") == "1" %>
              <% if deal_section.button_valid %>
                <%= link_to deal_section.button&.dig('url'), target: "_blank", class: "flex justify-#{deal_section.theme.dig("button", "organization")}" do %>
                  <button class="deal-font-button block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                          style="font-family: <%= deal&.button_typeface&.name %>;
                            font-weight: <%= deal&.button_weight %>;
                            line-height: <%= deal&.button_height %>;
                            letter-spacing:<%= deal&.button_spacing %>em;
                            background-color: <%= deal&.button_background_color %>;
                            border-color: <%= deal&.button_border_color %>;
                            border-width: <%= deal&.button_border_width %>;
                            border-radius:<%= deal&.button_border_radius %> ;">
                    <%= deal_section.button&.dig('text') %>
                  </button>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% elsif deal_section.parent.section.is_acordeao? %>
    <button data-accordion-target="item"
            id="accordion-flush-heading-<%= deal_section.id %>"
            type="button"
            class="flex items-center justify-between w-full py-6 text-2xl font-semibold text-left border-b border-gray-200 text-gray-900"
            aria-expanded="false"
            aria-controls="accordion-flush-body-<%= deal_section.id %>"
            style="<%= "border-bottom-width: #{deal_section&.parent&.theme&.dig('border', 'separator')};border-color:#{deal_section&.parent&.theme&.dig('colors', 'border_separator')}" %>">
      <% unless deal_section&.theme&.dig("hidden", "heading") == "1" %>
        <span class="deal-font-sub-section-heading" style="color: <%= deal_section&.parent&.theme&.dig("colors", "items_title") %>;
          font-family: <%= deal&.sub_section_heading_typeface&.name %>;
          font-weight: <%= deal&.sub_section_heading_weight %>;
          line-height: <%= deal&.sub_section_heading_height %>;
          letter-spacing:<%= deal&.sub_section_heading_spacing %>em;"><%= deal_section.heading %></span>
      <% end %>
      <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
      </svg>
    </button>
    <div id="accordion-flush-body-<%= deal_section.id %>" class="hidden" aria-labelledby="accordion-flush-heading-<%= deal_section.id %>">
      <% unless deal_section&.theme&.dig("hidden", "text") == "1" %>
        <div class="py-5 font-light border-b border-gray-200"
             style="<%= "border-bottom-width: #{deal_section&.parent&.theme&.dig('border', 'separator')};border-color:#{deal_section&.parent&.theme&.dig('colors', 'border_separator')}" %>">
          <div class="deal-font-text mb-2 text-gray-500 text-left" style="color: <%= deal_section&.parent&.theme&.dig("colors", "items_description") %>; font-family: <%= deal&.text_typeface&.name %>;
            font-weight: <%= deal&.text_weight %>;
            line-height: <%= deal&.text_height %>;
            letter-spacing:<%= deal&.text_spacing %>em;"><%= deal_section.text %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
