<div id="<%= dom_id(deal_section) %>" class="editor--page-section-preview">
  <div id="<%= dom_id(Section.find(5)) %>" class="hidden"></div>

  <% if deal_section.background_image.attached? %>
    <% style = "background: linear-gradient(0deg, #{deal_section&.theme&.dig("colors", "overlay")}70, #{deal_section&.theme&.dig("colors", "overlay")}70), url(#{url_for(deal_section.background_image)}) no-repeat center center; background-size: cover;" %>
  <% else %>
    <% style = "background-color: #{deal_section.parent&.theme&.dig("colors", "background_items")};" %>
  <% end %>

  <div class="text-white p-12 text-center border rounded-lg" style="<%= style %>color: <%= deal_section.text_color %>;
    border-color: <%= deal_section.parent&.theme&.dig("colors","border_items") %>;
    border-width: <%= deal_section.parent&.theme&.dig("border", "width") %>">


    <div class="space-y-5">
      <div class="space-y-4">
        <% if deal_section.logo.attached? %>
          <%= image_tag(deal_section.logo, class: "w-36 h-36 mx-auto img-#{deal_section&.parent&.theme&.dig('image', 'format')}") %>
        <% end %>
        <div class="space-y-1">
          <h1 class="text-2xl leading-tight font-bold text-gray-900" style="color: <%= deal_section&.parent&.theme&.dig("colors", "items_title") %>"><%= deal_section.heading %></h1>
          <h2 class="font-medium text-gray-500" style="color: <%= deal_section&.parent&.theme&.dig("colors", "items_description") %>"><%= deal_section.text %></h2>
        </div>
      </div>
      <% if deal_section.button_valid %>
        <a href="<%= deal_section.button&.dig "url" %>" target="_blank" style="color:<%= deal_section&.parent&.theme&.dig("colors","links") %>">
          <%= deal_section.button&.dig "text" %>
        </a>
      <% end %>
    </div>
  </div>
</div>

