<div id="<%= dom_id(deal_section) %>" class="editor--page-section-preview grid-section media-alignment-<%= deal_section.mediaAlignment %>">
  <div id="section_3" class="hidden"></div>
  <div style="background-color: <%= deal_section.background_color %>;color: <%= deal_section.text_color %>;">
    <section>
      <div>
        <div class="space-y-4">
          <header class="text-gray-900 space-y-0">
            <%= render partial: "admin/editor/sections/shared/preHeading", locals: { deal_section: } %>
            <%= render partial: "admin/editor/sections/shared/heading", locals: { deal_section: } %>
            <%= render partial: "admin/editor/sections/shared/subHeading", locals: { deal_section: } %>
          </header>
          <div><%= deal_section.text %></div>
          <div>
            <%= render partial: "admin/editor/sections/shared/button", locals: { deal_section: } %>
            <%= render partial: "admin/editor/sections/shared/button2", locals: { deal_section: } %>
            <p><%= deal_section.buttonSubtext %></p>
          </div>

          <div id="<%= dom_id(deal_section, "items") %>" class="grid gap-6 grid-cols-2">
            <% deal_section.deal_section_items.map do |dsi| %>
              <%= render partial: "admin/editor/deal_sections/deal_section", locals: { deal_section: dsi.child } %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
