<div id="<%= dom_id(deal_section) %>" class="editor--page-section-preview text-section media-alignment-<%= deal_section.mediaAlignment %>">
  <div id="section_1" class="hidden"></div>

  <div style="background-color: <%= deal_section.background_color %>;color: <%= deal_section.text_color %>;">
    <section>
      <div>
        <div class="space-y-4">
          <header class="text-gray-900 space-y-0">
            <%= render partial: "admin/editor/sections/shared/preHeading", locals:{deal_section:} %>
            <%= render partial: "admin/editor/sections/shared/heading", locals:{deal_section:} %>
            <%= render partial: "admin/editor/sections/shared/subHeading", locals:{deal_section:} %>
          </header>
          <p>
          <div><%= deal_section.text %></div>
          </p>
          <div>
            <% if deal_section.button_valid %>
              <button style="background-color: <%=deal_section.button_background_color %>;color:<%= deal_section.button_text_color %>">
                <a href="<%= deal_section.button&.dig "url" %>">
                  <%= deal_section.button&.dig "text" %>
                </a>
              </button>
            <% end %>
            <% if deal_section.button2_valid %>
              <button style="background-color: <%=deal_section.button_background_color %>;color:<%= deal_section.button_text_color %>">
                <a href="<%= deal_section.button2&.dig "url" %>">
                  <%= deal_section.button2&.dig "text" %>
                </a>
              </button>
            <% end %>
            <p><%= deal_section.buttonSubtext %></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
