<%= turbo_frame_tag "#{dom_id(dealproduct)}_form" do %>
  <%= form_with model: dealproduct, url: admin_new_deal_product_path(@deal), method: :post, class: "space-y-6", data: { turbo_frame: "_top" } do |form| %>
    <div>
      <%= form.label :product_id %>
      <%= form.collection_select :product_id, Product.all, :id, :name, required: true %>
    </div>

    <div>
      <%= form.label :quantity %>
      <%= form.number_field :quantity, value: (form.object.quantity.present? ? form.object.quantity.present? : 1), required: true %>
    </div>


    <div data-controller="discount-input">

      <%= form.label :discount_type %>
      <ul class="grid gap-6 w-full md:grid-cols-2">
        <% DealProduct.discount_types.map do |dt| %>
          <li>
            <%= form.radio_button :discount_type, dt[1], data: { discount_input_target: "input" }, class: "hidden peer" %>
            <%= form.label :discount_type, value: dt[1], class: "inline-flex justify-between items-center p-5 w-full text-gray-500 bg-white rounded-lg border border-gray-200 cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700" do %>
              <div class="block">
                <div class="w-full text-lg font-semibold"><%= dt[0] %></div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>

      <div data-discount-input-target="discountSection">
        <%= form.label :discount_amount %>
        <%= form.number_field :discount_amount %>
      </div>

    </div>

    <%= form.submit data: { action: "click->modal#hide" } %>
  <% end %>
<% end %>