<%= turbo_frame_tag dom_id(@deal, :preview) do %>
  <div id="font-text" class="h-full relative">

    <%= turbo_stream_from @deal, :deal_sections_preview %>
    <div id="deal_sections_preview">
      <div class="page_div">
        <%= render partial: 'admin/editor/deal_sections/deal_section', locals: { deal_section: @template.section_cabecalho, deal: @deal } %>
      </div>
      <% @template.deal_sections.map do |deal_section| %>
        <% unless deal_section.section_id == 1 %>
          <div class="page_div">
            <%= render partial: 'admin/editor/deal_sections/deal_section', locals: { deal_section:, deal: @deal } %>
          </div>
        <% end %>
      <% end %>
    </div>
    <% unless params[:hide_previews] == "1" %>
      <div class="preview_before_add_section mt-10">
        <%= render partial: "admin/editor/sections/acordeao", locals: { deal_section: Admin::Editor::AccordionSection.new, deal: @deal } %>
        <%= render partial: "admin/editor/sections/cabecalho", locals: { deal_section: Admin::Editor::HeadingSection.new, deal: @deal } %>
        <%= render partial: "admin/editor/sections/contacto", locals: { deal_section: Admin::Editor::ContactSection.new, deal: @deal } %>
        <%= render partial: "admin/editor/sections/conteudo", locals: { deal_section: Admin::Editor::ContentSection.new, deal: @deal } %>
        <%= render partial: "admin/editor/sections/galeria", locals: { deal_section: Admin::Editor::GallerySection.new, deal: @deal } %>
        <%= render partial: "admin/editor/sections/grelha", locals: { deal_section: Admin::Editor::GridSection.new, deal: @deal } %>
        <%= render partial: "admin/editor/sections/proposta", locals: { deal_section: Admin::Editor::ProposalSection.new, deal: @deal } %>
      </div>
    <% end %>
  </div>
<% end %>