<%= turbo_frame_tag dom_id(@deal, :sections) do %>
  <div class="flex pt-16 overflow-hidden">
    <aside data-turbo-permanent id="sidebar" class="fixed top-0 left-0 z-20 flex flex-col flex-shrink-0 hidden w-64 h-full pt-16 duration-75 lg:flex transition-width" aria-label="Sidebar">
      <div class="relative flex flex-col flex-1 min-h-0 pt-0 bg-gray-100 border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto">
          <div class="flex-1 px-3 space-y-1 bg-gray-100 divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">


            <% @ds = DealSection.new %>
            <%= form_with model: @ds,
                          url: admin_editor_create_text_path(@deal),
                          method: :post,
                          class: "space-y-6",
                          data: {
                            controller: "editor--form editor--autosave",
                            action: "uploader:complete->editor--form#dispatchUploaderEvent uploader:remove-file->editor--form#dispatchUploaderEvent editor:page-section:changed->editor--autosave#save",
                            "editor--form-id": @ds.id,
                            remote: true,
                            turbo: true,
                          } do |form| %>
              <div class="space-y-1">
                <%= form.label :title %>
                <%= form.text_field :preHeading, placeholder: true, data: { key: "preHeading" } %>
                <%= form.text_field :heading, placeholder: true, data: { key: "heading" } %>
                <%= form.text_field :subHeading, placeholder: true, data: { key: "subHeading" } %>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </aside>
    <div class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/90" id="sidebarBackdrop"></div>
  </div>
<% end %>