<div id="<%= dom_id deal_section_item %>" data-id="<%= deal_section_item.child.id %>" data-preview-id="<%= dom_id(deal_section_item.child) %>" class="editor--page-section flex items-center justify-between space-x-4">
  <%= link_to edit_admin_deal_editor_deal_section_deal_section_item_path(deal_id: @deal.id, deal_section_id: @parent.id, id: deal_section_item),
              data: { turbo_frame: dom_id(@deal, :sidebar) } do %>
    <div class="space-x-2 flex items-center py-2">
      <%= heroicon("pencil", options: { class: "text-gray-500 w-6 h-6 shrink-0" }) %>
      <p class="font-medium text-gray-900"><%= deal_section_item.child.name %></p>
    </div>
  <% end %>

  <%= heroicon("menu-alt-4", options: {
    class: "handle w-5 h-5",
  }) %>
</div>
