<%= turbo_frame_tag :choose_customer do %>
  <% if @deal.customer.present? %>
    <div class="hidden" data-step1-target="customer"></div>
    <div class="flex justify-between items-center">
      <div class="flex space-x-4 items-center">
        <div class="w-12 h-12 rounded-full bg-gray-50 overflow-hidden">
          <% if @deal.customer.logo.attached? %>
            <%= image_tag(@deal.customer.logo) %>
          <% end %>
        </div>
        <div>
          <p class="font-semibold text-gray-700"><%= @deal.customer.name %></p>
          <%= link_to @deal.customer.website, @deal.customer.website, class: "text-sm text-gray-400" %>
        </div>
      </div>


      <div class="flex h-7" data-controller="modal">

        <!-- Modal toggle -->
        <button data-action="modal#show" class="hover:bg-gray-200 text-xs text-gray-70 px-4 border border-gray-300 rounded-lg rounded-r-none" type="button">
          Editar
        </button>
        <!-- Main modal -->
        <div data-modal-target="modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog">
          <div class="relative p-4 w-full max-w-xl h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex justify-between items-start p-6 rounded-t border-b dark:border-gray-600">
                <h3 class="text-lg font-semibold text-blue-600 dark:text-white">
                  Editar Cliente
                </h3>
                <button data-action="modal#hide" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>
              <%= turbo_frame_tag dom_id(@deal, dom_id(@deal.customer)) do %>
                <%= render partial: "admin/deals/edit_customer_form", locals: { customer: @deal.customer } %>
              <% end %>
            </div>
          </div>
        </div>

        <%= form_tag step_1_choose_customer_admin_deal_path, method: :delete, class: "hover:bg-gray-200 px-2 border border-gray-300 border-l-0 rounded-lg rounded-l-none" do %>
          <button class="h-full">
            <%= heroicon("x", options: { class: "w-5 h-5 text-gray-700" }) %>
          </button>
        <% end %>
      </div>
    </div>

    <div class="text-base text-gray-400 mt-4 pl-16">
      <p class="font-medium text-gray-700 mb-1.5">Responsável</p>
      <div class="flex items-center space-x-1.5 mb-0.5">
        <%= heroicon("user", options: { class: "w-5 h-5 stroke-2" }) %>
        <p><%= @deal.customer.responsable_name %></p>
      </div>
      <div class="flex items-center space-x-1.5 mb-0.5">
        <%= heroicon("mail", options: { class: "w-5 h-5 stroke-2" }) %>
        <%= mail_to @deal.customer.responsable_email, @deal.customer.responsable_email %>
      </div>
      <div class="flex items-center space-x-1.5 mb-0.5">
        <%= heroicon("phone", options: { class: "w-5 h-5 stroke-2" }) %>
        <%= link_to @deal.customer.responsable_tel, "tel:#{@deal.customer.responsable_tel}" %>
      </div>
    </div>

  <% else %>

    <%= form_tag(step_1_search_customer_admin_deal_path, method: :get, class: "flex items-center", data: {
      turbo_frame: "customer_search",
    }) do %>
      <label for="simple-search" class="sr-only">Search</label>
      <div class="relative w-full">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
          <%= heroicon("search", options: { class: "w-5 h-5 text-blue-600" }) %>
        </div>
        <%= text_field_tag :query, params[:query], placeholder: "Search", oninput: "this.form.requestSubmit()", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-4 !pl-10 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
    <% end %>
    <%= turbo_frame_tag :customer_search %>
  <% end %>
<% end %>