<tr id="<%= dom_id(dp) %>" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" data-step1-target="product">
  <td class="py-4 px-6 text-gray-900 dark:text-white">
    <div class="flex items-center space-x-4">
      <div class="w-12 h-12 rounded-lg bg-gray-300 overflow-hidden">
        <% if dp.product.image.attached? %>
          <%= image_tag(dp.product.image) %>
        <% end %>
      </div>
      <div>
        <p class="font-medium text-gray-900"><%= dp.product.name %></p>
        <p class="text-sm text-gray-500"><%= dp.product.description.truncate(50) %></p>
      </div>
    </div>
  </td>
  <td class="py-4 px-6">
    <div class="flex items-center">
      <%= form_tag step_1_update_dp_admin_deal_path, method: :put, data: { controller: "editor--autosave quantity-changer" }, class: "flex items-center text-sm font-medium text-gray-900 bg-gray-100 py-1.5 px-1 rounded-lg" do %>
        <%= hidden_field_tag :dp_id, dp.id %>
        <%= hidden_field_tag :quantity, dp.quantity, data: { quantity_changer_target: "input", action: "editor--autosave#save" } %>

        <%= heroicon("minus", options: { class: "ml-1 w-3 h-3 shrink-0 cursor-pointer text-gray-600 hover:text-gray-900 stroke-2", "data-action": "click->quantity-changer#minus" }) %>
        <p class="mx-2" data-quantity-changer-target="result"><%= dp.quantity %></p>
        <%= heroicon("plus", options: { class: "w-4 h-4 shrink-0 cursor-pointer text-gray-600 hover:text-gray-900 stroke-2", "data-action": "click->quantity-changer#plus" }) %>
      <% end %>
    </div>
  </td>
  <td class="py-4 px-6 font-medium text-gray-900 dark:text-white">
    <div class="w-20">
      <%= form_tag step_1_update_dp_admin_deal_path, method: :put, data: { controller: "editor--autosave" } do %>
        <%= hidden_field_tag :dp_id, dp.id %>
        <%= text_field_tag :discount_amount, "€#{number_with_precision(dp.discount_amount, precision: 2)}", id: "discount_amount", placeholder: "0€", class: "!bg-white text-center py-1 h-8", data: { action: "editor--autosave#save", controller: "currency-input", type: "currency" } %>
      <% end %>
    </div>
  </td>
  <td id="<%= dom_id(dp, "total_price") %>" class="py-4 px-6 font-medium text-gray-900 dark:text-white">
    <%= number_to_currency(dp.price_without_discount) %>
  </td>
  <td class="py-4 px-6">
    <div class="flex space-x-1">

      <div data-controller="modal">
        <%= heroicon("pencil-alt", variant: :solid, options: { class: "cursor-pointer hover:text-gray-900 w-5 h-5 shrink-0 text-gray-500", "data-action": "click->modal#show" }) %>

        <!-- Main modal -->
        <div data-modal-target="modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog">
          <div class="relative p-4 w-full max-w-xl h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex justify-between items-start p-6 rounded-t border-b dark:border-gray-600">
                <h3 class="text-lg font-semibold text-blue-600 dark:text-white">
                  Editar produto
                </h3>
                <button data-action="modal#hide" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>
              <%= turbo_frame_tag dom_id(dp, dom_id(dp.product)) do %>
                <%= render partial: "admin/deals/edit_product_form", locals: { dp: } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>


      <%= form_tag step_1_choose_product_admin_deal_path, method: :delete do %>
        <%= hidden_field_tag(:dp_id, dp.id) %>
        <button class="w-5 h-5 shrink-0 ">
          <%= heroicon("trash", variant: :solid, options: { class: "text-red-600 cursor-pointer hover:text-red-900" }) %>
        </button>
      <% end %>
    </div>
  </td>
</tr>
