<%= turbo_frame_tag frame_name(model, parent), target: "_top" do %>
  <div class="space-y-4 max-w-screen-xl mx-auto">

    <div class="flex justify-between items-center py-4">
      <p class="text-2xl font-semibold">Propostas</p>

      <%= turbo_frame_tag dom_id(model.new), src: admin_new_path(model, parent) %>

    </div>

    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
      <table id="<%= table_id(model, parent) %>" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">

        <% active_css = "inline-block p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500" %>
        <% css = "inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" %>

        <div class="px-6 bg-gray-50 text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
          <ul class="flex flex-wrap -mb-px">
            <li class="mr-2">
              <%= link_to "Todas", admin_deals_path(scope: "index_set"), data: { turbo_frame: frame_name(model, parent) }, class: params[:scope] == "index_set" ? active_css : css, aria: { current: "#{params[:scope] ? 'page' : ''}" } %>
            </li>
            <li class="mr-2">
              <%= link_to "Abertas", admin_deals_path(scope: "open"), data: { turbo_frame: frame_name(model, parent) }, class: params[:scope] == "open" ? active_css : css, aria: { current: "#{params[:scope] ? 'page' : ''}" } %>
            </li>
            <li class="mr-2">
              <%= link_to "Ganhas", admin_deals_path(scope: "won"), data: { turbo_frame: frame_name(model, parent) }, class: params[:scope] == "won" ? active_css : css, aria: { current: "#{params[:scope] ? 'page' : ''}" } %>
            </li>
            <li class="mr-2">
              <%= link_to "Perdidas", admin_deals_path(scope: "lost"), data: { turbo_frame: frame_name(model, parent) }, class: params[:scope] == "lost" ? active_css : css, aria: { current: "#{params[:scope] ? 'page' : ''}" } %>
            </li>
          </ul>
        </div>

        <tr class="border-b dark:border-gray-700 text-xs font-semibold uppercase">
          <th scope="col" class="text-gray-500 p-4">
            Nome da Proposta
          </th>
          <th scope="col" class="text-gray-500 p-4">
            Cliente
          </th>
          <th scope="col" class="text-gray-500 p-4">
            Data Fecho
          </th>
          <th scope="col" class="text-gray-500 p-4">
            Estado
          </th>
          <th scope="col" class="text-gray-500 p-4">
            Valor Total
          </th>
          <th scope="col" class="text-gray-500 p-4"></th>
        </tr>
        </thead>
        <tbody>
        <% objects.each do |d| %>
          <tr id="<%= dom_id(d) %>" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 relative">
            <%= render partial: "admin/deals/list_item", locals: { d: } %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="py-4 flex justify-center items-end">
      <%= paginate objects, remote: true, model: model, parent: parent, legacy_params: legacy_params %>
    </div>
  </div>

<% end %>
