<td class="p-4 font-semibold text-gray-900">
  <%= d.name %>
</td>
<td class="p-4 text-gray-900">
  <% if d.customer %>
    <span class="font-semibold"><%= d.customer.responsable_name %></span> da <%= d.customer.name %>
  <% else %>
    -
  <% end %>
</td>
<td class="p-4">
  <% if d.finish_date %>
    <%= d.finish_date.strftime("%b %d, %Y") %>
  <% else %>
    -
  <% end %>
</td>
<td class="p-4">
  <%= deal_list_badge(d) %>
</td>
<td class="p-4 text-gray-900 font-semibold whitespace-nowrap">
  <%= number_to_currency d.total_amount %>
</td>
<td class="p-4 flex space-x-2">
  <% if d.template.present? %>
    <%= link_to "#{admin_pdf_download_path(d)}.pdf", donwload: "Proposta ##{d.id}", target:"_blank" do %>
      <%= button_tag class: "font-medium text-sm inline-flex items-center justify-center py-2 px-3 rounded-lg border dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-200 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300" do %>
        <%= heroicon("download", options: { class: "w-5 h-5" }) %>
      <% end %>
    <% end %>


    <%= link_to ver_proposta_path(d.uuid), target:"_blank" do %>
      <button type="button" class="font-medium text-sm inline-flex items-center justify-center py-2 px-3 rounded-lg border dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-200 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300">
        <%= heroicon("eye", options: { class: "w-5 h-5" }) %>
      </button>
    <% end %>
  <% end %>

  <%= link_to step_1_admin_deal_path(d) do %>
    <button type="button" class="font-medium text-sm inline-flex items-center justify-center py-2 px-3 rounded-lg border dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-200 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300">
      <%= heroicon("pencil", options: { class: "w-5 h-5" }) %>
    </button>
  <% end %>

  <%
    if Deal.statuses[d.status] == "won"
      won_status = "open"
    else
      won_status = "won"
    end

    if Deal.statuses[d.status] == "lost"
      lost_status = "open"
    else
      lost_status = "lost"
    end
  %>

  <%= button_to update_state_admin_deal_path(d), method: :put, params: { deal: { status: won_status } }, aria: { selected: Deal.statuses[d.status] == "won" }, class: "bg-blue-50 text-blue-900 aria-selected:text-green-800 aria-selected:bg-green-200 aria-selected:border-green-100 font-medium text-sm inline-flex items-center justify-center py-2 px-3 rounded-lg text-gray-500 hover:text-gray-600 dark:text-gray-400 hover:text-green-800 hover:bg-green-100 hover:border-green-100" do %>
    <%= heroicon("thumb-up", options: { class: "w-5 h-5" }) %>
  <% end %>

  <%= button_to update_state_admin_deal_path(d), method: :put, params: { deal: { status: lost_status } }, aria: { selected: Deal.statuses[d.status] == "lost" }, class: "bg-blue-50 text-blue-900 aria-selected:text-red-800 aria-selected:bg-red-200 aria-selected:border-red-100 font-medium text-sm inline-flex items-center justify-center py-2 px-3 rounded-lg text-gray-500 hover:text-gray-600 dark:text-gray-400 hover:text-red-800 hover:bg-red-100 hover:border-red-100" do %>
    <%= heroicon("thumb-down", options: { class: "w-5 h-5" }) %>
  <% end %>

</td>