<%= form_with(model: deal_product.product, url: step_1_update_product_admin_deal_path, method: :put) do |form| %>
  <%= form.hidden_field :product_id, value: deal_product.product.id %>
  <%= form.hidden_field :deal_product_id, value: deal_product.id %>
  <div class="p-6 space-y-5">
    <div class="space-y-2">
      <%= form.label :name %>
      <%= form.text_field :name, placeholder: "Inserir nome" %>
    </div>

    <div class="space-y-2">
      <%= form.label :description %>
      <%= form.text_area :description, placeholder: "Inserir descrição do produto ou serviço ... ", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>

    <div class="space-y-2">
      <%= form.label :image %>
      <%= form.file_field :image, placeholder: "Inserir imagem", class: "w-full" %>
    </div>

    <div class="space-y-2">
      <%= form.label :price %>
      <%#= form.text_area :price, placeholder: "1.900", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>

      <%= form.text_field :price, value: "€#{number_with_precision(deal_product.product.price, precision: 2)}", id: "price", placeholder: "0€", data: { controller: "currency-input", type: "currency" } %>
    </div>

  </div>

  <div class="flex justify-end p-6 space-x-4 rounded-b border-t dark:border-gray-600">
    <button data-action="modal#hide" type="button" class="text-blue-600 bg-white hover:bg-blue-600 hover:text-white focus:ring-4 border border-blue-600 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Cancelar
      <span class="sr-only">Close modal</span>
    </button>

    <%= form.submit "Guardar" %>
  </div>
<% end %>