<%= turbo_frame_tag :product_search do %>
  <div class="rounded-lg bg-white p-4 mt-4 space-y-3">
    <p class="font-semibold text-gray-900 text-xs">Produtos</p>

    <% @products.map do |o| %>
      <%= button_to step_1_choose_product_admin_deal_path, params: { product_id: o.id } do %>
        <div class="bg-gray-50 rounded-lg flex space-x-2 px-3 py-2">
          <%= heroicon("user-circle", variant: :solid, options: { class: "h-6 w-6 shrink-0 bg-white text-gray-400" }) %>
          <p class="text-sm font-medium text-gray-500"><%= o.name %></p>
        </div>
      <% end %>
    <% end %>

    <button class="w-full border-t py-2.5 pb-0 bg-white text-blue-700 hover:text-blue-800 font-medium rounded-lg text-sm text-center inline-flex items-center">
      <%= heroicon("plus", options: { class: "mr-2 -ml-1 w-4 h-4" }) %>
      Adicionar novo produto
    </button>
  </div>
<% end %>