<%= turbo_frame_tag :product_search do %>
  <div class="rounded-lg bg-white p-4 mt-4 space-y-3">
    <p class="font-semibold text-gray-900 text-xs">Produtos</p>

    <% @products.map do |o| %>
      <%= button_to step_1_choose_product_admin_deal_path, params: { product_id: o.id } do %>
        <div class="bg-gray-50 rounded-lg flex space-x-2 px-3 py-2">
          <%= heroicon("user-circle", variant: :solid, options: { class: "h-6 w-6 shrink-0 bg-white text-gray-400" }) %>
          <p class="text-sm font-medium text-gray-500"><%= o.name %></p>
        </div>
      <% end %>
    <% end %>

    <div data-controller="modal">

      <button data-action="modal#show" class="w-full border-t py-2.5 pb-0 bg-white text-blue-700 hover:text-blue-800 font-medium rounded-lg text-sm text-center inline-flex items-center" type="button">
        <%= heroicon("plus", options: { class: "mr-2 -ml-1 w-4 h-4" }) %>
        Adicionar novo produto
      </button>
      <!-- Main modal -->
      <div data-modal-target="modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog">
        <div class="relative p-4 w-full max-w-xl h-full md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-6 rounded-t border-b dark:border-gray-600">
              <h3 class="text-lg font-semibold text-blue-600 dark:text-white">
                Adicionar cliente
              </h3>
              <button data-action="modal#hide" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>
            <%= render partial: "admin/deals/new_product_form", locals: { product: Product.new } %>
          </div>
        </div>
      </div>
    </div>

  </div>
<% end %>