<p>Name: <%= @deal.name %></p>
<div class="flex space-x-2">
  <p>Tags:</p>
  <ul>
    <% @deal.tags.each do |tag| %>
      <span class="bg-<%= tag.background_color %> text-<%= tag.text_color %>  text-xs font-semibold mr-2 px-2.5 py-0.5 rounded"><%= tag.name %></span>
    <% end %>
  </ul>

</div>

<%= turbo_frame_tag dom_id(@deal, :customer), src: admin_deal_customers_path(@deal) %>
<%= turbo_frame_tag dom_id(@deal, :service), src: admin_deal_products_path(@deal) %>
<%= link_to "Configurar", admin_deal_step_2_path %>