<!DOCTYPE html>
<html lang="pt-pt">
<head>
  <title>Proposals Unblind</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body class="bg-gray-100 dark:bg-gray-900" data-controller="sidebar dark-mode">
<!-- <body> -->
<%= render 'shared/navbar' %>
<div class="flex pt-16 overflow-hidden">
  <%= render 'shared/sidebar' %>
  <div id="main-content" class="p-4 relative w-full h-full overflow-y-auto lg:ml-64">
    <main>
      <%= yield %>
    </main>
  </div>
</div>
</body>
</html>
