<!DOCTYPE html>
<html>
<head>
  <title>Proposals Unblind</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%#= hotwire_livereload_tags if Rails.env.development? %>
</head>

<% if @is_app %>
  <body data-controller="sidebar dark-mode">
  <!-- <body> -->
  <%= render 'shared/navbar' %>
  <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
    <%= render 'shared/sidebar' %>
    <div id="main-content" class="p-4 relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
      <main>
        <%= yield %>
      </main>
    </div>
  </div>
  </body>
<% else %>
  <body>
  <div id="main-content" class="p-4 relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
    <main>
      <%= yield %>
    </main>
  </div>
  </body>
<% end %>
</html>
