<!DOCTYPE html>
<html lang="pt-pt">
<head>
  <title>Power Deal</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <% if defined?(@deal) %>
  <%= google_webfonts_link_tag "#{@deal.heading_typeface.name.parameterize(separator: '_')}": "#{@deal.heading_typeface.weights.parameterize(separator: ',')}",
                               "#{@deal.text_typeface.name.parameterize(separator: '_')}": "#{@deal.text_typeface.weights.parameterize(separator: ',')}"
      %>
  <% end %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= hotwire_livereload_tags if Rails.env.development? %>
</head>

<body class="h-screen" data-controller="editor--reorder editor--page-section editor--responsive editor--preview">
<%= yield %>
</body>
</html>
