<!DOCTYPE html>
<html lang="pt-pt">
<head>
  <title>Unblind | Propostas</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<div id="main-content" class="p-4 relative w-full h-full overflow-y-auto">
  <main>
    <%= yield %>
  </main>
</div>
</body>
</html>